{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block main %}
  <div class="container-xl">
    <div class="mt-4 texto-cor-1">
      <h1>Finalizar número Voip Sem Boleto</h1>
      <hr class="line-solid">
    </div>

    <div>
      <h4 style="color: red;">
        Você tem que certeza que os boletos estão certos?
      </h4>
    </div>

    <div class="mt-4 mb-4">
      <form action="" method="post" class="texto-cor-2"> {% csrf_token %}
          {{ form | crispy }}
        {{ form.media }}
        <input type="submit" class="btn btn-block btn-primary" value="Confirmar a verificação">
      </form>
    </div>
  </div>
{% endblock %}