{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block main %}
  <div class="container-xl">
    <div class="mt-4 texto-cor-1">
      <h1>Finalizar Número Voip</h1>
      <hr class="line-solid">
    </div>


      <div class="texto-cor-2">
          <div class="mb-4 mt-4">
            <h2>Você deseja finalizar a instalação do Voip? </h2>
          </div>
          <p><strong>Cliente: </strong>{{ numero_voip.nome_usuario_voip }}</p>
          <p><strong>CPF:</strong> {{ numero_voip.cpf_usuario_voip }}</p>
          <p><strong>Usuário:</strong> {{ numero_voip.usuario_voip }}</p>
          <p><strong>Senha:</strong> {{ numero_voip.senha_voip }}</p>
          <p><strong>Telefone: </strong>{{ numero_voip.numero_telefone_voip }}</p>
      </div>

    
    <div class="mb-4">
      <form action="" method="post" class="texto-cor-2"> {% csrf_token %}
          {{ form | crispy }}
        {{ form.media }}
        <input type="submit" class="btn btn-block btn-primary" value="Finalizar número">
      </form>
    </div>


  </div>
{% endblock %}