{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="mt-4 texto-cor-1">
        <h1>Lista de Portabilidade Aguardando </h1>
        <hr class="line-solid">
    </div>


    <div>
        <div class="row">
            {% for aguardando in portabilidade_aguardando %}
            <div class="col-sm-3 mt-2 mb-4">
              <div class="card fundo-card texto-cor-2">
                <div class="card-body">
                    <div class="ml-2">
                        <p><strong>Cliente:</strong> {{ aguardando.nome_usuario_voip }}</p>
                        <p><strong>CPF:</strong> {{ aguardando.cpf_usuario_voip }} </p>
                        <p><strong>Tel.:</strong> {{ aguardando.numero_telefone_voip}}</p>
                        <div class="card-footer bg-transparent border-success">
                            <div align="right">
                                <a href="/voip/portabilidade-enviar-analise/{{ aguardando.id }}" class="btn btn-success">Enviar para análise</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
    </div>

    
 




</div>    

    


{% endblock %}