{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="mt-4">
        <h5 class="mt-3 mb-3">Lista de Voip´s Reservados </h5>
    </div>


    <div>
        <div class="row">
            {% for reservado in voip_reservados %}
            <div class="col-sm-3 mt-2 mb-4">
              <div class="card shadow">
                <div class="card-body">
                    <div class="ml-2">
                        <p><strong>Cliente:</strong> {{ reservado.nome_usuario_voip }}</p>
                        <p><strong>Usuário:</strong> {{ reservado.usuario_voip }}</p>
                        <p><strong>Senha:</strong> {{ reservado.senha_voip }} </p>
                        <p><strong>Tel.:</strong> {{ reservado.numero_telefone_voip }}</p>
                        <div class="card-footer bg-transparent border-success">
                            <div align="right">
                                <a href="/voip/finalizar-numero-voip/{{ reservado.id }}" class="btn">Finalizar</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
    </div>

    
 




</div>    

    


{% endblock %}