{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="mt-4 texto-cor-1">
        <h1>Lista de Clientes Voip com Portabilidade</h1>
        <hr class="line-solid">
    </div>

    <div class="card shadow">
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"># ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">SIP</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                    {% for finalizado in portabilidade_finalizados %}
                  <tr>
                    <th scope="row">{{ finalizado.id }}</th>
                    <td>{{ finalizado.nome_usuario_voip }}</td>
                    <td>{{ finalizado.usuario_voip }}</td>
                    <td>
                        <a href="/voip/visualizar-voip-finalizados/?id={{ finalizado.id }}">Visualizar</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>



    
 




</div>
{% endblock %}