{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="mt-4 texto-cor-1">
        <h1>Detalhes do Cliente Voip</h1>
        <hr class="line-solid"> 
    </div>

    <div class="mt-2 mb-2">
        
    </div>

    <div class="card mb-4 fundo-card texto-cor-2">
        <div class= "ml-4 mt-4 mb-4">
            <a><strong>Nome:</strong> {{ voip.nome_usuario_voip }}</a><br>
            <a><strong>CPF:</strong> {{ voip.cpf_usuario_voip }}</a><br>
            <a><strong>Usuário (SIP):</strong> {{ voip.usuario_voip }}</a><br>
            <a><strong>Senha:</strong> {{ voip.senha_voip }}</a><br>
            <a><strong>Telefone:</strong> {{ voip.numero_telefone_voip }}</a><br>
            <a><strong>Data da reserva:</strong> {{ voip.data_reserva_voip }}</a><br>
            <a><strong>Portabilidade:</strong> {{ voip.portabilidade_voip }} </a>      
            
        </div>
    </div>




</div>
{% endblock %}