{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">

    <div class="mt-4">
        <h4>Agendamentos Pagamentos</h4>
    </div>
    
    <hr>

    <div class="card shadow">
        <div class="mt-2 mb-2 ml-2 mr-2">
            <h4>Resumo Pagamentos</h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Valor a pagar hoje</h5>
                    <div align="center">
                        {% if totalPagarHoje.total is null %}
                            <h3>R$: 0</h3>
                        {% else %}
                            <h3>R$: {{ totalPagarHoje.total }}</h3>    
                        {% endif %}                      
                    </div>
                    <div align="right">
                        <a>Ver todos</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <h5 class="card-title">Valor a pagar Atrasadas</h5>
                    <div align="center">
                        {% if totalPagarAtrasadas.total is null %}
                            <h3>R$: 0</h3>
                        {% else %}
                            <h3>R$: {{ totalPagarAtrasadas.total }}</h3>    
                        {% endif %}  
                    </div>
                    <div align="right">
                         <a>Ver todos</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                      <h5 class="card-title">Valor a pagar não vencidas</h5>
                        <div align="center">
                        {% if totalPagarNaoVencidas.total is null %}
                            <h3>R$: 0</h3>
                        {% else %}
                            <h3>R$: {{ totalPagarNaoVencidas.total }}</h3>    
                        {% endif %}  
                        </div>
                        <div align="right">
                            <a href="/pagamentos/pagamentos-futuros/">Ver todos</a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
    </div>

    <hr>
    <hr>

    <h4>Agendamentos</h4>

    <div>
        {% for pagamento in pagamentosFuturos %}
            {{ pagamento.month|date:"F Y" }}: R$: {{ pagamento.c }}<br>
        {% endfor %}
    </div>

    
    
    <hr>
    <hr>
    <!-- CONTAS A VENCER HOJE-->
    <div class="card shadow">
        <div class="card-header bg-warning">
            Vencer hoje
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Motivo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                    {% for vencerHoje in vencerHoje %}
                    {% if vencerHoje.status_pago == False %}
                  <tr>
                    <td>{{ vencerHoje.motivo_pagamento }}</td>  
                    <td>{{ vencerHoje.valor_pagamento }}</td>
                    <td>{{ vencerHoje.data_pagamento | date:" d/m/Y" }}</td>
                    <td>{{ vencerHoje.categoria }}</td>
                    <td style="color:red;" title="Não Pago"><i class="fas fa-comments-dollar fa-lg"></i></td>
                    <td>
                        
                        <a href="/pagamentos/comfirmar-pagamento/{{ vencerHoje.id }}" title="Pagar"><i class="fas fa-money-check-alt fa-lg"></i></a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>           
    <hr>
    <!-- CONTAS ATRASADAS-->
    <div class="card">
        <div class="card-header bg-danger">
            Contas Atrasadas
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th scope="col">Motivo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Opções</th>
                </thead>
                <tbody>
                    {% for atrasada in atrasadas %}
                    {% if atrasada.status_pago == False %}
                  <tr>
                    <td>{{ atrasada.motivo_pagamento }}</td>  
                    <td>{{ atrasada.valor_pagamento }}</td>
                    <td>{{ atrasada.data_pagamento | date:" d/m/Y" }}</td>
                    <td>{{ atrasada.categoria }}</td>
                    <td style="color:red;" title="Não Pago"><i class="fas fa-comments-dollar fa-lg"></i></td>
                    <td>
                        <a href="/pagamentos/comfirmar-pagamento/{{ atrasada.id }}" title="Pagar"><i class="fas fa-money-check-alt"></i></a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>           
    <hr>
</div>
{% endblock %}