{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">

<!-- INÍCIO do título da página -->
<div class="mt-4">
    <h4>Agenda de  Pagamentos</h4>
</div>
<!-- INÍCIO do título da página -->

<!-- INICIO da página Principal -->
<div class="row">

    <!-- INÍCIO da campo da Esquerda -->
     <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">(Mês) Pagamentos Futuros</h5>
            <div class="card-body">
                {% for pagamento in pagamentosFuturos %}
                    <li>{{ pagamento.month|date:"F Y" }}: R$: {{ pagamento.c }}</li><br>
                {% endfor %}
            </div>
          </div>

          <div class="card mt-4">
            <h5 class="card-header">(Dia) Pagamentos Futuros</h5>
            <div class="card-body">
                {% for pagamento in pagamentosFuturosDiarios %}
                    {{ pagamento.data_pagamento }}: R$: {{ pagamento.number }}<br>
                {% endfor %}
            </div>
          </div>


    </div>

    
    <!-- FIM da campo da Esquerda -->

    <!-- INÍCIO da campo da Direita -->
    <div class="col-sm-8">
        <!-- INÍCIO do Resumo dos Pagamentos-->
        <div class="card">
            <h5 class="card-header">Resumo Pagamentos</h5>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card shadow border-0">
                    <div class="card-body">
                      <p class="card-title">Atrasadas</p>
                        <div align="center">
                            {% if totalPagarAtrasadas.total is null %}
                                <h3>R$: 0</h3>
                            {% else %}
                                <h3>R$: {{ totalPagarAtrasadas.total }}</h3>    
                            {% endif %}  
                        </div>
                        <div align="right">
                             <a>Ver todos</a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow border-0">
                      <div class="card-body">
                          <p class="card-title">Hoje</p>
                          <div align="center">
                              {% if totalPagarHoje.total is null %}
                                  <h3>R$: 0</h3>
                              {% else %}
                                  <h3>R$: {{ totalPagarHoje.total }}</h3>    
                              {% endif %}                      
                          </div>
                          <div align="right">
                              <a>Ver todos</a>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                          <p class="card-title">Futuros</p>
                            <div align="center">
                            {% if totalPagarNaoVencidas.total is null %}
                                <h3>R$: 0</h3>
                            {% else %}
                                <h3>R$: {{ totalPagarNaoVencidas.total }}</h3>    
                            {% endif %}  
                            </div>
                            <div align="right">
                                <a href="/pagamentos/pagamentos-futuros/">Ver todos</a>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
 <!-- FIM do Resumo dos Pagamentos-->
          <div class="mt-2">
            <div class="card">
                <h5 class="card-header">Vencimentos</h5>
                <div class="card-body">
                  
                    <!-- INÍCIO das contas que vencem hoje -->
                    <div class="card">
                        <div class="card-header">
                          Hoje
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Motivo</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">categoria</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Opções</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for vencerHoje in vencerHoje %}
                                        {% if vencerHoje.status_pago == False %}
                                      <tr>
                                        <td>{{ vencerHoje.motivo_pagamento }}</td>  
                                        <td>{{ vencerHoje.valor_pagamento }}</td>
                                        <td>{{ vencerHoje.data_pagamento | date:" d/m/Y" }}</td>
                                        <td>{{ vencerHoje.categoria }}</td>
                                        <td style="color:red;" title="Não Pago"><i class="fas fa-comments-dollar fa-lg"></i></td>
                                        <td>
                                            
                                            <a href="/pagamentos/comfirmar-pagamento/{{ vencerHoje.id }}" title="Pagar"><i class="fas fa-money-check-alt fa-lg"></i></a>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- FIM das contas que vencem hoje -->

                    <!-- INÍCIO das contas atrasadas -->
                    <div class="card mt-2">
                        <div class="card-header">
                            Contas Atrasadas
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <th scope="col">Motivo</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">categoria</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Opções</th>
                                    </thead>
                                    <tbody>
                                        {% for atrasada in atrasadas %}
                                        {% if atrasada.status_pago == False %}
                                      <tr>
                                        <td>{{ atrasada.motivo_pagamento }}</td>  
                                        <td>{{ atrasada.valor_pagamento }}</td>
                                        <td>{{ atrasada.data_pagamento | date:" d/m/Y" }}</td>
                                        <td>{{ atrasada.categoria }}</td>
                                        <td style="color:red;" title="Não Pago"><i class="fas fa-comments-dollar fa-lg"></i></td>
                                        <td>
                                            <a href="/pagamentos/comfirmar-pagamento/{{ atrasada.id }}" title="Pagar"><i class="fas fa-money-check-alt"></i></a>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- INÍCIO das contas atrasadas -->
                </div>
              </div>
        </div>
    </div>
<!-- FIM da campo da Direita -->
   
</div>
<!-- FIM da página Principal -->

</div>
<!-- FIM do container-->
{% endblock %}