{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} .:: Contas a Vencer {% endblock %}

{% block main %}
<div class="container">
    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Contas a Vencer</h1>
    </div>

    
    <!-- =====================================================================================================-->
    <!-- INÍCIO  Campo de Pesquisas-->
    <div class="card">
        <form method="GET">
        <div class="card-body">
        
            <div class="row">
            <div class="form-group col-4">
                <label for="inputCity">Motivo do pagamento</label>
                <input type="search" class="form-control" placeholder="Motivo do pagamentos" name="motivoPagamento" value="{{ request.GET.motivoPagamento }}">
            </div>
            <div class="form-group col-4">
                <label for="inputCity">Valor</label>
                <input type="number" step="any" class="form-control" placeholder="R$" name="valor" value="{{ request.GET.valor }}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Escolha uma data</label>
                <input type="date" class="form-control" name="date" value="{{ request.GET.data }}">
            </div>
            </div>
        
            <button class=" form-control btn-success">
                <i class="fas fa-search"></i>
                Pesquisar
            </button>
        
        </div>
        </form>
    </div>
    <!-- FIM Campo de Pesquisas-->
    <!-- =====================================================================================================-->

    <!-- =====================================================================================================-->
    <h3 class="ui dividing header blue">Lista de contas a pagar<a class="anchor" id="content"></a></h3>
    <!-- =====================================================================================================-->


    <!-- =====================================================================================================-->
    <div class="card shadow">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Conta</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>

            <tbody>
            {% for conta in conta_a_vencer %}
              <tr>
                <th scope="row">{{ conta.motivo_pagamento }}</th>
                <td>{{ conta.valor_pagamento }}</td>
                <td>{{ conta.data_pagamento|date:'j-M-Y' }}</td>
                <td>{{ conta.categoria }}</td>
                <td> Editar </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- =====================================================================================================-->
    
    
</div>

{% endblock %}