{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} .:: Contas a Vencer {% endblock %}


{% block main %}
<div class="container-xl">
    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="texto-cor-1">Contas a Vencer</h1>
    </div>

    <!-- =====================================================================================================-->
    <!-- INÍCIO  Campo de Pesquisas-->
    <div class="texto-cor-1">
        <p>Escolha apenas uma das opções para fazer a pesquisa.</a>
    <div>
    <div class="card fundo-card fundo-card-border">
        <form method="GET">
      
            <div class="row texto-cor-1">
            <div class="form-group col-4">
                <label for="inputCity">Motivo do pagamento</label>
                <input type="search" class="form-control" placeholder="Motivo do pagamentos" name="motivo_pagamento" value="{{ request.GET.motivo_pagamento }}">
            </div>
            <div class="form-group col-4">
                <label for="inputCity">Valor</label>
                <input type="number" step="any" class="form-control" placeholder="R$" name="valor" value="{{ request.GET.valor }}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Escolha uma data</label>
                <input type="date" class="form-control" name="data" value="{{ request.GET.data }}">
            </div>
            </div>
        
            <div align="right">
				<button type="submit" class="btn btn-success">Executar Pesquisa</button>
			</div>
        
        </form>
    </div>
    <!-- FIM Campo de Pesquisas-->
    <!-- =====================================================================================================-->
    <hr class="line-solid">
    <!-- =====================================================================================================-->
    <h3 class="texto-color-1">Lista de contas a pagar - R$: {{ valor_a_pagar.total }}</h3>
    <!-- =====================================================================================================-->
	

    <!-- =====================================================================================================-->
    <div class="card shadow mb-3 fundo-card">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-01">
                <tr>
                    <th scope="col">Conta</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Banco</th>
                    <th scope="col">Data</th>
                    <th scope="col">Categoria</th>

                    <th scope="col">Editar</th>
                    <th scope="col">Infor.</th>
                    <th scope="col">Pagar</th>
                </tr>
                </thead>

                <tbody>
                {% for conta in conta_a_vencer %}
                <tr class="texto-tbody-tr">
                    <th scope="row">{{ conta.motivo_pagamento }}</th>
                    <td>{{ conta.valor_pagamento }}</td>
                    <td>{{ conta.origem_valor_pagamento}}</td>
                    <td>{{ conta.data_pagamento|date:'j-M-Y' }}</td>
                    <td>{{ conta.categoria }}</td>
                    <td> <a href="{% url 'editar_pagamento_agendado' conta.id  %}" class="btn-edit-01"> Editar </a> </td>

                    <td>
                    {% if conta.informacao_pagamento is not null %}

                      <a href="{% url 'detalhes_pagamento' conta.id %}"><i class="large barcode icon btn-edit-01"></i></a>
					  
				
                    {% else %}

                    {% endif %}
                  </td>


                    <td>
                        <a href="/pagamentos/comfirmar-pagamento/{{ conta.id }}" title="Pagar"><i class="fas fa-money-check-alt fa-lg btn-edit-01"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- =====================================================================================================-->
    
</div>

{% endblock %}