{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Custos Mensais Por Categoria {% endblock %}


{% block main %}
<div class="container">
    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Custos Mensais por Categoria</h1>
    </div>

    <br>



    <div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/cylinder.js"></script>
        <script src="https://code.highcharts.com/modules/funnel3d.js"></script>
        <script src="https://code.highcharts.com/modules/pyramid3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="container"></div>
            <script>
                // Set up the chart
                Highcharts.chart('container', {
                    chart: {
                        type: 'pyramid3d',
                        options3d: {
                            enabled: true,
                            alpha: 10,
                            depth: 50,
                            viewDistance: 50
                        }
                    },
                    title: {
                        text: 'Highcharts Pyramid3D Chart'
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b> ({point.y:,.0f})',
                                allowOverlap: true,
                                x: 10,
                                y: -5
                            },
                            width: '60%',
                            height: '80%',
                            center: ['50%', '45%']
                        }
                    },
                    series: [{
                        name: 'Unique users',
                        data: [
                            ['Veículos', {% if media_veiculos.total is null  %} 0 {% else %} {{ media_veiculos.total }}  {% endif %}],
                            ['Funcionários', {% if media_funcionarios.total is null %} 0 {% else %} {{ media_funcionarios.total }}  {% endif %}],
                            ['Alimentação', {% if media_alimentacao.total is null %} 0 {% else %} {{ media_alimentacao.total }}  {% endif %}],
                            ['Links', {% if media_links.total is null %} 0 {% else %} {{ media_links.total }}  {% endif %}],
                            ['Locação', {% if media_locacao.total is null %} 0 {% else %} {{ media_locacao.total }}  {% endif %}],
                            ['Instalação', {% if media_instalacao.total is null %} 0 {% else %} {{ media_instalacao.total }}  {% endif %}],
                            ['Sócios', {% if media_socios.total is null %} 0 {% else %} {{ media_socios.total }}  {% endif %}],
                            ['Impostos', {% if media_impostos.total is null %} 0 {% else %} {{ media_impostos.total }}  {% endif %}],
                            ['Taxas', {% if media_taxas.total is null %} 0 {% else %} {{ media_taxas.total }}  {% endif %}],


                        ]
                    }]
                });
             
            </script>
        </figure>

    </div>

    

    Media Veículos = {{ media_veiculos.total }}<br>
    Media Funcionários = {{ media_funcionarios.total }}<br>
    Media Alimentação = {{ media_alimentacao.total }}<br>
    Media Links = {{ media_links.total }}<br>
    Media Locação = {{ media_locacao.total }}<br>
    Media Instalação = {{ media_instalacao.total }}<br>
    Media sócios = {{ media_socios.total }}<br>
    Media Impostos = {{ media_impostos.total }}<br>
    Media Taxas = {{ media_taxas.total }}<br>

    

    <!--============================== VEÍCULOS =========================================================================-->
    <h3 class="ui dividing header blue">Custos com os veículos <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_A">
            <script>
                var options = {
                    series: [
                        {
                            name: 'Veículos',
                            data: [
                                {% for data in custos_mensais_categoria %} 
                                    {% if data.categoria == 1  %}
                                         '{{ data.total|safe}}',
                                {% endif %}
                                {% endfor %}
                            ],
                        }   
                    ],

                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    
                    colors: ['#545454', '#545454'],//Coloca a cor da barra
          
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: { enabled: false },
                        animations: {enabled: true }
                    },

                    stroke: {
                        width: [2],//Largura da linha
                        curve: 'straight',
                        dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },

                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 1  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}    
                    ],

                    title: {
                    text: 'Veículos'
                    },

                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_A"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== FUNCIONÁRIOS =====================================================================-->
    <h3 class="ui dividing header blue">Custos com os funcionários <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_B">
            <script>
                var options = {
                    series: [{
                            name: 'Funcionários',
                            data: [
                                {% for data in custos_mensais_categoria %} 
                                    {% if data.categoria == 2  %}
                                        '{{ data.total|safe}}',
                                    {% endif %}
                                {% endfor %}
                            ]
                        }
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 2  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Funcionários'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_B"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== ALIMENTAÇÃO ======================================================================-->
    <h3 class="ui dividing header blue">Custos com alimentação <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_C">
            <script>
                var options = {
                    series: [{
                        name: 'Alimentação',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 3  %}
                                '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                    
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 3  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Alimentação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_C"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== LINKS ============================================================================-->
    <h3 class="ui dividing header blue">Custos com os links <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_D">
            <script>
                var options = {
                    series: [{
                        name: 'Links',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 4  %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 4  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Links'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_D"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== LOCAÇÃO ==========================================================================-->
    <h3 class="ui dividing header blue">Custos com locação<a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_E">
            <script>
                var options = {
                    series: [{
                        name: 'Locação',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 5  %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 5  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Locação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_E"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== INSTALAÇÃO =======================================================================-->
    <h3 class="ui dividing header blue">Custos com as instalações <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_F">
            <script>
                var options = {
                    series: [{
                        name: 'Instalação',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 6  %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                    
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 6  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Instalação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_F"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== SÓCIOS ===========================================================================-->
    <h3 class="ui dividing header blue">Custos com os sócios <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_G">
            <script>
                var options = {
                    series: [{
                        name: 'Sócios',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 7 %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 7  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Sócios'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_G"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== IMPOSTOS =========================================================================-->
    <h3 class="ui dividing header blue">Custos com os impostos <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_H">
            <script>
                var options = {
                    series: [{
                        name: 'Impostos',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 8  %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}    
                        ]
                        }
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 8  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Impostos'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_H"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== TAXAS ============================================================================-->
    <h3 class="ui dividing header blue">Custos com as taxas <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3 mb-3">
        <div id="chart_I">
            <script>
                var options = {
                    series: [{
                        name: 'Taxas',
                        data: [
                            {% for data in custos_mensais_categoria %} 
                                {% if data.categoria == 11  %}
                                    '{{ data.total|safe}}',
                                {% endif %}
                            {% endfor %}
                        ]
                        }
                
                    ],
                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },

                    stroke: {
                    width: [2],
                    curve: 'straight',
                    dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },
                    labels: [
                        {% for data in custos_mensais_categoria %} 
                            {% if data.categoria == 11  %}
                                '{{ data.month|date:'M, Y' }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    title: {
                    text: 'Taxas'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_I"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
</div>
{% endblock %}