{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Custos Mensais Por Categoria {% endblock %}


{% block main %}
<div class="container">
    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Custos Mensais por Categoria</h1>
    </div>

    <!--=======================================================================================================-->
    <div class="card shadow mt-3">
        <div class="card shadow mt-3">
            <div id="chart_B">
                <div id="timeline-chart_custos_mensais">
                    <script>
                        var options = {
                            series: [
                                    
                            {
                            name: 'Veículos',
                            data: [{% for data in mensalVeiculos %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Funcionários',
                            data: [{% for data in mensalFuncionarios %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Alimentação',
                            data: [{% for data in mensalAlimentacao %}  '{{ data.c|safe}}', {% endfor %}]
                            },{
                            name: 'Links',
                            data: [{% for data in mensalLinks %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Locação',
                            data: [{% for data in mensalLocacao %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Instalação',
                            data: [{% for data in mensalInstalacao %}  '{{ data.c|safe}}', {% endfor %}]
                            },{
                            name: 'Sócios',
                            data: [{% for data in mensalSocios %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Impostos',
                            data: [{% for data in mensalImpostos %}  '{{ data.c|safe}}', {% endfor %}]
                            }, {
                            name: 'Taxas',
                            data: [{% for data in mensalTaxas %}  '{{ data.c|safe}}', {% endfor %}]
                            }
                        
                        ],
                            chart: {
                            height: 350,
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            animations: {
                                enabled: false
                            }
                            },
                            stroke: {
                            width: [5,5,4],
                            curve: 'straight'
                            },
                            labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                            title: {
                            text: 'Custos Mensais categorias'
                            },
                            xaxis: {
                            },
                            };

                            var chart = new ApexCharts(document.querySelector("#chart_B"), options);
                            chart.render();
                    </script>
                </div>
            </div>
    
        </div>
    </div>
    <!--=======================================================================================================-->

    <!--=======================================================================================================-->
     <div class="card shadow mt-3">
        

    </div>
    <!--=======================================================================================================-->

</div>
{% endblock %}