{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Custos Mensais Por Categoria {% endblock %}


{% block main %}
<div class="container">
    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Custos Mensais por Categoria</h1>
    </div>

    <!--============================== VEÍCULOS =========================================================================-->
    <h3 class="ui dividing header blue">Custos com os veículos <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_A">
            <script>
                var options = {
                    series: [
                        {
                            name: 'Veículos',
                            data: [{% for data in mensalVeiculos %}  '{{ data.c|safe}}', {% endfor %}],
                        }   
                    ],

                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    
                    colors: ['#545454', '#545454'],//Coloca a cor da barra
          
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: { enabled: false },
                        animations: {enabled: true }
                    },

                    stroke: {
                        width: [2],//Largura da linha
                        curve: 'straight',
                        dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },

                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],

                    title: {
                    text: 'Veículos'
                    },

                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_A"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== FUNCIONÁRIOS =====================================================================-->
    <h3 class="ui dividing header blue">Custos com os funcionários <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_B">
            <script>
                var options = {
                    series: [{
                            name: 'Funcionários',
                            data: [{% for data in mensalFuncionarios %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Funcionários'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_B"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== ALIMENTAÇÃO ======================================================================-->
    <h3 class="ui dividing header blue">Custos com alimentação <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_C">
            <script>
                var options = {
                    series: [{
                        name: 'Alimentação',
                        data: [{% for data in mensalAlimentacao %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Alimentação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_C"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== LINKS ============================================================================-->
    <h3 class="ui dividing header blue">Custos com os links <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_D">
            <script>
                var options = {
                    series: [{
                        name: 'Links',
                        data: [{% for data in mensalLinks %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Links'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_D"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== LOCAÇÃO ==========================================================================-->
    <h3 class="ui dividing header blue">Custos com locação<a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_E">
            <script>
                var options = {
                    series: [{
                        name: 'Locação',
                        data: [{% for data in mensalLocacao %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Locação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_E"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== INSTALAÇÃO =======================================================================-->
    <h3 class="ui dividing header blue">Custos com as instalações <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_F">
            <script>
                var options = {
                    series: [{
                        name: 'Instalação',
                        data: [{% for data in mensalInstalacao %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Instalação'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_F"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== SÓCIOS ===========================================================================-->
    <h3 class="ui dividing header blue">Custos com os sócios <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_G">
            <script>
                var options = {
                    series: [{
                        name: 'Sócios',
                        data: [{% for data in mensalSocios %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Sócios'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_G"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== IMPOSTOS =========================================================================-->
    <h3 class="ui dividing header blue">Custos com os impostos <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3">
        <div id="chart_H">
            <script>
                var options = {
                    series: [{
                        name: 'Impostos',
                        data: [{% for data in mensalImpostos %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Impostos'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_H"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    <!--============================== TAXAS ============================================================================-->
    <h3 class="ui dividing header blue">Custos com as taxas <a class="anchor" id="content"></a></h3>
    <div class="card shadow mt-3 mb-3">
        <div id="chart_I">
            <script>
                var options = {
                    series: [{
                        name: 'Taxas',
                        data: [{% for data in mensalTaxas %}  '{{ data.c|safe}}', {% endfor %}]
                        }
                
                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    animations: {
                        enabled: false
                    }
                    },

                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for veiculos in mensalVeiculos %}  '{{ veiculos.month|date:'M, Y'}}', {% endfor %}],
                    title: {
                    text: 'Taxas'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_I"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
    

</div>
{% endblock %}