{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Fluxo de Entradas e Saídas {% endblock %}


{% block main %}
<div class="container">
    <!--=====================================================================================================-->
	
	<div class="mt-4 mb-4">
        <h1 class="texto-cor-1">Relação de Entradas e Saídas Mensais</h1>
    </div>
	
	<div class="mt-4 mb-4">
        <h5 class="display-5 fw-light texto-cor-1">
			Aqui são demostrados os valores registrados de entradas na conta bancária e a saídas
			registradas via sistema.
		</h5>
    </div>
	
    <!--=====================================================================================================-->

    <!--============================== Fixo VS Variáveis =========================================================================-->
    <h3 class="texto-cor-2">Entradas VS Saídas</h3>
    <div class="card shadow mt-3 fundo-card-grafico">
        <div id="chart_AA">
            <script>
                var options = {
                    series: [
                        {
                            name: 'Saídas',
                            data: [{% for data in entrada_banco %} '{{ data.c }}', {% endfor %}],
                        },{
                            name: 'Entradas',
                            data: [{% for data in custos_gerais %} '{{ data.c }}', {% endfor %}],
                        }   
                    ],

                    dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                    
                    colors: ['#f10000', '#008000'],//Coloca a cor da barra
          
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: { enabled: false },
                        animations: {enabled: true }
                    },

                    stroke: {
                        width: [4],//Largura da linha
                        curve: 'straight',
                        dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                    },

                    labels: [{% for data in entrada_banco %} '{{ data.month|date:'F Y' }}', {% endfor %}],

          
                    
                    
                    title: {
                    text: 'Fixos vs Variáveis'
                    },

                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_AA"), options);
                    chart.render();
            </script>
        </div>
    </div>
    <!--=================================================================================================================-->
	
	




</div>
{% endblock %}