{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Fluxo de Entradas e Saídas {% endblock %}


{% block main %}
<div class="container">
    <!--=====================================================================================================-->
	
	<div class="mt-4 mb-4">
        <h1 class="display-5">Relação de Entradas e Saídas Mensais</h1>
    </div>
	
	<div class="mt-4 mb-4">
        <h5 class="display-5 fw-light">
			Aqui são demostrados os valores registrados de entradas na conta bancária e a saídas
			registradas via sistema.
		</h5>
    </div>
	
    <div class="card shadow mt-3 mb-4">
        <div id="chart_A">
            <script>
                var options = {
                    series: [{
                    name: 'Bancos',
                    data: [{% for data in entrada_banco %} '{{ data.c }}', {% endfor %}]
                    },{
                    name: 'Custos Mensais',
                    data: [{% for data in custos_gerais %} '{{ data.c }}', {% endfor %}]
                    }

                    ],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    
                    animations: {
                        enabled: false
                    }
                    },
                    stroke: {
                    width: [5,5,4],
                    curve: 'straight'
                    },
                    labels: [{% for data in entrada_banco %} '{{ data.month|date:'F Y' }}', {% endfor %}],
                    title: {
                    text: 'Entradas'
                    },
                    xaxis: {
                    },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_A"), options);
                    chart.render();
      
            </script>
        </div>
    </div>
    <!--=====================================================================================================-->
</div>
{% endblock %}