{% extends 'base.html' %}
{% load static %}

{% block main %}






<!--  -------------------------------- Gráfico de Custos Mensais --------------------------------------------------------------- --->
<div class="card">
    <h5 class="card-header">Custos Mensais</h5>
    <div class="card-body">
      <div id="chart">
        <div id="timeline-chartMensais">
          <script>
          var options = {
                    series: [{
                      name: "Mensais",
                      data: [{% for mes in mes %} '{{ mes.c }}', {% endfor %}]


                  }],
                    chart: {
                    height: 200,
                    type: 'line',
                    zoom: {
                      enabled: false
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  stroke: {
                    curve: 'straight'
                  },
                  title: {
                    text: '',
                    align: 'left'
                  },
                  grid: {
                    row: {
                      colors: ['#f5f5f5', 'transparent'],
                      opacity: 0.5
                    },
                  },
                  xaxis: {
                    categories: [{% for mes in mes %} '{{ mes.month|date:'F Y' }}', {% endfor %}],
                  }
                  };
                  var chart = new ApexCharts(document.querySelector("#chart"), options);
                  chart.render();

          </script>
        </div>
      </div>
      
      
    </div>
  </div>      
  <!--  ----------------------------------------------------------------------------------------------------------------------- --->

{% endblock %}