{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">

    <h2>Pagamentos</h2>

    <div align="right">
        <a href="cadastrar-pagamento/" class="btn btn-primary">+ Adicionar pagamento </a>
    </div>

    <div class="table-responsive-sm mt-2">
        <table class="table table-sm">
          <thead class="table-dark">
            <tr>
                <th>ID</th>
                 <th>Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for pagamento in pagamentos %}
            <tr>
                <td>{{ pagamento.id }}</td>
                <td>{{ pagamento.nome_pagamento }}</td>
                <td>R$: {{ pagamento.valor_pagamento }}</td>
                <td>{{ pagamento.categoria }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

</div>
{% endblock %}