{% extends 'base.html' %}
{% load static %}

{% block main %}
	<!-- ********************************************************************************************** -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<!-- ********************************************************************************************** -->
<div class="container">

    <h2>Pagamentos</h2>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
    <hr>
    <hr>
    <div align="right">
        <a href="lista-pagamentos/" class="btn btn-info">Ver todos pagamentos</a>
        <a href="agendar-pagamento/" class="btn btn-dark">Agendar um pagamento</a>
        <a href="agendamentos-pagamentos/" class="btn btn-primary">Agenda de pagamentos </a>
        <a href="cadastrar-pagamento/" class="btn btn-primary">+ Adicionar pagamento </a>
    </div>

    <hr>
    <hr>

<!--
    {% for dia in dia %}
      {{ dia.data_pagamento | date:"d M Y"  }} - R$: {{ dia.number }}<br>
    {% endfor %}
-->


  <div>
   Veículos: {{ veiculos.total }}<br>
    Funcionários: {{ funcionarios.total }}<br>
    Alimentação: {{ alimentacao.total }}<br>
    Links: {{ links.total }}<br>
    Locação: {{ locacao.total }}<br>
    Instalação: {{ instalacao.total }}<br>
    Sócios: {{ socios.total }}<br>
  </div>



    <div>
        
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


      <style>
        

      body {
        font-family: Roboto, sans-serif;
      }

      #chart {
        max-width: 650px;
        margin: 35px auto;
      }

      </style>

      <div id="chart"></div>


      <script>
      var options = {
          series: [

           {{veiculos.total}},
            {{funcionarios.total}},
             {{alimentacao.total}},
             {{links.total}},
             {{locacao.total}},
             {{instalacao.total}},
             {{socios.total}}
            ],
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Veículos', 'Funcionários', 'Alimentação', 'Links', 'Locação', 'Instalação', 'Sócios'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      
      </script>



				</div>

        <hr>
        <hr>

        <!-- Custos Mensais-->
        <h6> Custos Mensais </h6>
        {% for mes in mes %}

          <!--Verificando mês de Abril-->
          {% if mes.month == 4 %}
            Abril R$: {{ mes.count }}
          {% endif %}
          <!--Verificando mês de Maio-->
          {% if mes.month == 5 %}
            Maio R$: {{ mes.count }}
          {% endif %}
          <!--Verificando mês de Maio-->
          {% if mes.month == 6 %}
            Junho R$: {{ mes.count }}
          {% endif %}
          {% if mes.month == 7 %}
            Julho R$: {{ mes.count }}
          {% endif %}

          <br>

        {% endfor %}







    </div>


  
<hr>


</div>
</div>
{% endblock %}