{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Finanças {% endblock %}





https://cdn.jsdelivr.net/npm/package@version/file

https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2.1/src/core.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2

https://cdn.jsdelivr.net/npm/jquery/



    <div>





{% block main %}
<div class="container-xl">

    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Finanças</h1>
    </div>

    <!--Botões de navegações das finanças -->
    <div align="right">
        <a href="lista-pagamentos/" class="btn btn-info"><i class="far fa-eye"></i> Pagamentos</a>
        <a href="cadastrar-pagamento/" class="btn btn-primary"><i class="far fa-plus-square"></i> Pagamento </a>
        <a href="retiradas-gerencianet/" class="btn btn-warning"><i class="fas fa-file-invoice-dollar"></i></i> GerenciaNET </a>
        <a href="exportar-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
    </div>

    <!-- =========================================================================================================== -->
    <!-- Custos do mês atual por grupo -->
    <h3 class="ui dividing header blue">Custos do Mês Atual <a class="anchor" id="content"></a></h3>
    <div class="card-group mt-3 " >
        <!-- Veículos no mês atual-->
        <div class="card shadow-sm"  align="center">
            <p class="card-title">Veículos</p>
            R$: {{ veiculosMesAtual.total }}
        </div>

        <!-- Funcionários no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <h6 class="card-title">Funcionários</h6>
            
            R$: {{ funcionariosMesAtual.total }}
        </div>

        <!-- Alimentação no mês atual-->
        <div class="card shadow-sm ml-1" align="center">
            <p>Alimentação</p>
            R$: {{ alimentacaoMesAtual.total }}
        </div>

        <!-- Links no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Links</p>
            R$: {{ linksMesAtual.total }}
        </div>

        <!-- Locação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Locação</p>
            R$: {{ locacaoMesAtual.total }}
        </div>

        <!-- Instalação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Instalação</p>
            R$: {{ instalacaoMesAtual.total }}
        </div>

        <!-- Sócios no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Sócios</p>
            R$: {{ sociosMesAtual.total }}
        </div>

        <!-- Impostos no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Impostos</p>
            R$: {{ ImpostosMesAtual.total }}
        </div>

        <!-- Taxas no mês atual-->
        <div class="card shadow-sm mr-1"  align="center">
            <p>Taxas</p>
            R$: {{ taxaMesAtual.total }}
        </div>
    </div>
    <!-- =========================================================================================================== -->









    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 320px;
            max-width: 660px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        <script>
            // Build the chart
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares in January, 2018'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Chrome',
                        y: {{ veiculosMesAtual.total }}
    
                    }, {
                        name: 'Internet Explorer',
                        y: 11.84
                    }, {
                        name: 'Firefox',
                        y: 10.85
                    }, {
                        name: 'Edge',
                        y: 4.67
                    }, {
                        name: 'Safari',
                        y: 4.18
                    }, {
                        name: 'Other',
                        y: 7.05
                    }]
                }]
            });
        </script>
    </p>
</figure>














    <!--Final da Página-->
    <div class="mb-5">

    </div>

</div>
{% endblock %}