{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Finanças {% endblock %}





https://cdn.jsdelivr.net/npm/package@version/file

https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2.1/src/core.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2

https://cdn.jsdelivr.net/npm/jquery/



    <div>





{% block main %}
<div class="container-xl">

    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Finanças</h1>
    </div>

    <!--Botões de navegações das finanças -->
    <div align="right">
        <a href="lista-pagamentos/" class="btn btn-info"><i class="far fa-eye"></i> Pagamentos</a>
        <a href="cadastrar-pagamento/" class="btn btn-primary"><i class="far fa-plus-square"></i> Pagamento </a>
        <a href="retiradas-gerencianet/" class="btn btn-warning"><i class="fas fa-file-invoice-dollar"></i></i> GerenciaNET </a>
        <a href="exportar-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
    </div>

<!-- =========================================================================================================== -->
    <!-- Custos do mês atual por grupo -->
    <h3 class="ui dividing header blue">Custos do Mês Atual <a class="anchor" id="content"></a></h3>
    <div class="card-group mt-3 " >
        <!-- Veículos no mês atual-->
        <div class="card shadow-sm"  align="center">
            <p class="card-title">Veículos</p>
            R$: {{ veiculosMesAtual.total|safe }}
        </div>

        <!-- Funcionários no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <h6 class="card-title">Funcionários</h6>
            
            R$: {{ funcionariosMesAtual.total|safe }}
        </div>

        <!-- Alimentação no mês atual-->
        <div class="card shadow-sm ml-1" align="center">
            <p>Alimentação</p>
            R$: {{ alimentacaoMesAtual.total|safe }}
        </div>

        <!-- Links no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Links</p>
            R$: {{ linksMesAtual.total|safe }}
        </div>

        <!-- Locação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Locação</p>
            R$: {{ locacaoMesAtual.total|safe }}
        </div>

        <!-- Instalação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Instalação</p>
            R$: {{ instalacaoMesAtual.total|safe }}
        </div>

        <!-- Sócios no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Sócios</p>
            R$: {{ sociosMesAtual.total|safe }}
        </div>

        <!-- Impostos no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Impostos</p>
            R$: {{ ImpostosMesAtual.total|safe }}
        </div>

        <!-- Taxas no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Taxas</p>
            R$: {{ taxaMesAtual.total|safe }}
        </div>
    </div>
<!-- =========================================================================================================== -->


<!-- =========================================================================================================== -->
<!-- =========================================================================================================== -->
<div class="mt-3">
    <div class="row">
        <div class="col-sm-6">
          <div class="card h-100 shadow border-0">
            <div class="card-body">
                <!-- =========================================================================================================== -->
                <!-- Gráficos com os gastos do mês atual por categorias -->
                <div>
                    <div id="chart">
                        <div id="timeline-chart_custos_mensais">
                            <script>
                                var options = {
                                    series: [{
                                    data: [
                                        
                                    {% if veiculosMesAtual.total is null %} 0 {% else %} {{ veiculosMesAtual.total|safe }} {% endif %},	
                                    {% if funcionariosMesAtual.total is null %} 0 {% else %} {{ funcionariosMesAtual.total|safe }} {% endif %},		
                                    {% if alimentacaoMesAtual.total is null %} 0 {% else %} {{ alimentacaoMesAtual.total|safe }} {% endif %},
                                    {% if linksMesAtual.total is null %} 0 {% else %} {{ linksMesAtual.total|safe }} {% endif %},	
                                    {% if locacaoMesAtual.total is null %} 0 {% else %} {{ locacaoMesAtual.total|safe }} {% endif %},	
                                    {% if instalacaoMesAtual.total is null %} 0 {% else %} {{ instalacaoMesAtual.total|safe }} {% endif %},
                                    {% if sociosMesAtual.total is null %} 0 {% else %} {{ sociosMesAtual.total|safe }} {% endif %},
                                    {% if ImpostosMesAtual.total is null %} 0 {% else %} {{ ImpostosMesAtual.total|safe }} {% endif %},
                                    {% if taxaMesAtual.total is null %} 0 {% else %} {{ taxaMesAtual.total|safe }} {% endif %},
                                
                                    ]
                                    }],
                                    chart: {
                                    type: 'bar',
                                    height: 350
                                    },
                                    plotOptions: {
                                    bar: {
                                        borderRadius: 4,
                                        horizontal: true,
                                    }
                                    },
                                    dataLabels: {
                                    enabled: false
                                    },
                                    xaxis: {
                                    categories: [
                                        
                                    'Veículos',
                                    'Funcionários',
                                    'Alimentação',
                                    'Links',
                                    'Locação',
                                    'Instalação',
                                    'Sócios',
                                    'Impostos',
                                    'Taxas'
                                          
                                    ],
                                    }
                                    };
                
                                    var chart = new ApexCharts(document.querySelector("#chart"), options);
                                    chart.render();
                      
                            </script>
                        </div>
                    </div>
                        
                </div>
                
                <!-- =========================================================================================================== -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card h-100 shadow border-0">
            <div class="card-body">
                <!-- =========================================================================================================== -->
                <figure class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description">
                      <script>
                            Highcharts.chart('container', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: '{% now "F Y" %}'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                    }
                                }
                            },
                            series: [{
                                name: 'Brands',
                                colorByPoint: true,
                                data: [{
                                    name: 'Veículos',
                                    y: {% if veiculosMesAtual.total is null %} 0 {% else %} {{ veiculosMesAtual.total|safe }} {% endif %},
                                }, {
                                    name: 'Funcionários',
                                    y: {% if funcionariosMesAtual.total is null %} 0 {% else %} {{ funcionariosMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Alimentação',
                                    y: {% if alimentacaoMesAtual.total is null %} 0 {% else %} {{ alimentacaoMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Links',
                                    y: {% if linksMesAtual.total is null %} 0 {% else %} {{ linksMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Locação',
                                    y: {% if locacaoMesAtual.total is null %} 0 {% else %} {{ locacaoMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Instalação',
                                    y: {% if instalacaoMesAtual.total is null %} 0 {% else %} {{ instalacaoMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Sócios',
                                    y: {% if sociosMesAtual.total is null %} 0 {% else %} {{ sociosMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Impostos',
                                    y: {% if ImpostosMesAtual.total is null %} 0 {% else %} {{ ImpostosMesAtual.total|safe }} {% endif %}
                                }, {
                                    name: 'Taxas',
                                    y: {% if taxaMesAtual.total is null %} 0 {% else %} {{ taxaMesAtual.total|safe }} {% endif %}
                                }]
                            }]
                        });
                      </script>
                    </p>
                </figure>
                <!-- =========================================================================================================== -->
            </div>
          </div>
        </div>
      </div>
</div>
<!-- =========================================================================================================== -->
<!-- =========================================================================================================== -->

















    <!--Final da Página-->
    <div class="mb-5">

    </div>

</div>
{% endblock %}