{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Finanças {% endblock %}





https://cdn.jsdelivr.net/npm/package@version/file

https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2.1/src/core.min.js

https://cdn.jsdelivr.net/npm/jquery@3.2

https://cdn.jsdelivr.net/npm/jquery/



    <div>





{% block main %}
<div class="container-xl">

    <!-- Título da pagina -->
    <div class="bd-title mt-4 mb-1">
        <h1 class="ui dividing header blue">Finanças</h1>
    </div>

    <!--Botões de navegações das finanças -->
    <div align="right">
        <a href="lista-pagamentos/" class="btn btn-info"><i class="far fa-eye"></i> Pagamentos</a>
        <a href="cadastrar-pagamento/" class="btn btn-primary"><i class="far fa-plus-square"></i> Pagamento </a>
        <a href="retiradas-gerencianet/" class="btn btn-warning"><i class="fas fa-file-invoice-dollar"></i></i> GerenciaNET </a>
        <a href="exportar-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
    </div>

    <!-- =========================================================================================================== -->
    <!-- Custos do mês atual por grupo -->
    <h3 class="ui dividing header blue">Custos do Mês Atual <a class="anchor" id="content"></a></h3>
    <div class="card-group mt-3 " >
        <!-- Veículos no mês atual-->
        <div class="card shadow-sm"  align="center">
            <p class="card-title">Veículos</p>
            R$: {{ veiculosMesAtual.total }}
        </div>

        <!-- Funcionários no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <h6 class="card-title">Funcionários</h6>
            
            R$: {{ funcionariosMesAtual.total }}
        </div>

        <!-- Alimentação no mês atual-->
        <div class="card shadow-sm ml-1" align="center">
            <p>Alimentação</p>
            R$: {{ alimentacaoMesAtual.total }}
        </div>

        <!-- Links no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Links</p>
            R$: {{ linksMesAtual.total }}
        </div>

        <!-- Locação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Locação</p>
            R$: {{ locacaoMesAtual.total }}
        </div>

        <!-- Instalação no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Instalação</p>
            R$: {{ instalacaoMesAtual.total }}
        </div>

        <!-- Sócios no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Sócios</p>
            R$: {{ sociosMesAtual.total }}
        </div>

        <!-- Impostos no mês atual-->
        <div class="card shadow-sm ml-1"  align="center">
            <p>Impostos</p>
            R$: {{ ImpostosMesAtual.total }}
        </div>

        <!-- Taxas no mês atual-->
        <div class="card shadow-sm mr-1"  align="center">
            <p>Taxas</p>
            R$: {{ taxaMesAtual.total }}
        </div>
    </div>
    <!-- =========================================================================================================== -->










    <!DOCTYPE HTML>
    <html>
    <head>
    <script>
    window.onload = function() {
    
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: true,
        animationEnabled: true,
        title: {
            text: "Desktop Browser Market Share in 2016"
        },
        data: [{
            type: "pie",
            startAngle: 25,
            toolTipContent: "<b>{label}</b>: {y}%",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 16,
            indexLabel: "{label} - {y}%",
            dataPoints: [
                { y: {{ funcionariosMesAtual.total }}, label: "Chrome" },
                { y: 27.34, label: "Internet Explorer" },
                { y: 10.62, label: "Firefox" },
                { y: 5.02, label: "Microsoft Edge" },
                { y: 4.07, label: "Safari" },
                { y: 1.22, label: "Opera" },
                { y: 0.44, label: "Others" }
            ]
        }]
    });
    chart.render();
    
    }
    </script>
    </head>
    <body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
    </html>














    <!--Final da Página-->
    <div class="mb-5">

    </div>

</div>
{% endblock %}