{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}.:: Boletos Entregues{% endblock %}

{% block main %}

<div class="container">

    <!-- INCIO -->
    <div class="mt-4 mb-4 shadow">
        <!--INICIO título da página -->
        <div class="mt-4 mb-2 p-2">
            <h1 class="texto-cor-1">( {{ count_boletos_entregue }} )- Boletos Entregue </h1>
        </div>
    </div>
    <!--INICIO título da página -->


    <!-- ======================================================================================  -->
     <!-- INÍCIO  Campo de Pesquisas-->
    <div class="card fundo-card p-2">
      <form method="GET" class=" fundo-card texto-cor-2">
          <div class="row ">
            <div class="col-sm-9">
                    <label>Informe o nome do cliente</label>
                    <input type="search" class="form-control" placeholder="Informe nome do cliente" name="q" value="{{ request.GET.q }}">
            </div>
    
            <div class="col-sm-3">
              <label>Forma de entrega</label>
                <select name="forma_entrega_boleto" value="{{ request.GET.forma_entrega_boleto }}" class="form-control">
                  <option selected value="0">Escolha a forma de entrega...</option>
                  <option value="1">Via Fisica</option>
                  <option value="2">E-mail e WhatsApp</option>
                  <option value="3">App</option>
                  <option value="4">WhatsApp</option>
                  <option value="5">E-mail</option>    
                </select>
            </div>
          </div>
          <div align="right">
            <button type="submit" class="btn btn-success">Executar Pesquisa</button>
          </div>
      </form>
    </div>
        
      <!-- FIM Campo de Pesquisas-->
    <!-- ===========================================================================================-->

       

        <!-- INÍCIO Messagens -->
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- FIM Messagens -->

        

        <!-- INICIO quantidade de clientes por forma de boleto -->
        <div class="table-responsive-sm p-2">
            <div class="card-group">

                <!-- Boletos Físicos -->
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic orange button">
                      <i class=""></i> Boletos Físicos
                    </div>
                    <a class="ui basic left pointing black label">
                        {{ count_via_fisica }}
                    </a>
                </div>

                <!-- Boletos E-mail -->
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic orange button">
                      <i class=""></i> E-mail e WhatsApp
                    </div>
                    <a class="ui basic left pointing orange label">
                        {{ count_email_whatsapp }}
                    </a>
                </div>

                <!-- Boletos App -->
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic violet button">
                      <i class=""></i> App
                    </div>
                    <a class="ui basic left pointing violet label">
                        {{ count_app }}
                    </a>
                </div>

                <!-- Boletos WhatsApp -->
                <div class="ui labeled button" tabindex="0">
                    <div class="ui green basic blue button">
                      <i class=""></i> WhatsApp
                    </div>
                    <a class="ui basic left pointing green label">
                        {{ count_whatsapp }}
                    </a>
                </div>

                <!-- Boletos E-mail -->
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic red button">
                      <i class=""></i> E-mail
                    </div>
                    <a class="ui basic left pointing red label">
                        {{ count_email }}
                    </a>
                </div>

                <!-- Botão de adiciona novo cliente -->
                <div class="mr-4 ml-4">
                    <button class="ui inverted blue button">
                        <i class="icon user"></i>
                        <a href="/pagamentos/cadastrar-entrega-boletos/">Adicionar Cliente</a>
                    </button>
                </div>

            </div>
        </div>
        <!-- FIM quantidade de clientes por forma de boleto -->
    
    <!-- FIM -->

    
    <!-- INICIO Tabela dos boletos -->
    <div class="card shadow mb-4 table-responsive-sm">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">CPF</th>
                <th scope="col">Forma de entrega</th>
                <th scope="col">Assinado</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
            {% for boletos in lista_boletos_entregue %}
              <tr>
                <th scope="row">{{ boletos.id }}</th>
                <td>{{ boletos.nome_cliente }}</td>
                <td>{{ boletos.cpf_cliente}}</td>
                <td>{{ boletos.forma_entrega }}</td>
                <td> {% if boletos.boleto_assinado == False %} {% else %} Assinado {% endif %}</td>
                <td>{{ boletos.data_cadastro|date }}</td>
                <td align="center">
                    <a href="/pagamentos/editar-entrega-boletos/{{ boletos.id }}"><i class="far fa-edit text-warning"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- FIM Tabela dos boletos -->

</div>
{% endblock %}