{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
  <!-- INÍCIO dos campos de Filtros -->
    <div class="mt-2">
      <form method="GET">
			  <div class="row">
          <div class="form-group col-8">
            <label>Por motivo:</label>
            <input type="text" class="form-control" placeholder="Motivo do pagamento" name="motivoPagamento" value="{{ request.GET.motivoPagamento }}">
          </div>
  
          <div class="form-group col-2">
              <label>Valor:</label>
              <input type="text" class="form-control" placeholder="R$" name="valor" value="{{ request.GET.valor }}">
          </div>
  
          <div class="form-group col-2">
              <label>Por data:</label>
              <input type="date" class="form-control" placeholder="Data do pagamento" name="data" value="{{ request.GET.data }}">
          </div>  

        </div>

        <div class="row">
          <div class="form-group col-12">
            <label>Banco:</label>
            <select class="form-control" size="7" name="banco" value="{{ request.GET.banco }}">
              <optgroup label="Banco">
                <option value="1">Bradesco</option>
                <option value="valor2">Itaú</option>
              </optgroup>
             
              <optgroup label="Meios">
                <option value="3">cartao de debito bradesco</option>
                <option value="4">cartao de credito Bradesco</option>
                <option value="3">cartao de debito Itau</option>
                <option value="4">Dinheiro</option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <button class=" form-control btn-success">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
          </div>
        </div>
		  </form>
    </div>
    <!-- FIM dos campos de Filtros -->

    <!-- Gráficos de gastos do mês atual -->
    <div>


    </div>
  


    <div class="table-responsive-sm mt-2">
        <table class="table table-sm">
          <thead class="table-dark">
            <tr>
                <th>Motivo</th>
                 <th>Valor</th>
                <th scope="col">Origem</th>
                <th scope="col">Tipo custo</th>
                <th scope="col">Data</th>
                <th scope="col">Categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for pagamento in pagamentos %}
            <tr>
                <td>
                    <a href="/pagamentos/editar-pagamento/{{ pagamento.id }}">{{ pagamento.motivo_pagamento }}</a>
                </td>
                <td>{{ pagamento.valor_pagamento }}</td>
                <td>R$: {{ pagamento.origem_valor_pagamento }}</td>
                <td>{{ pagamento.tipo_custo_pagamento }}</td>
                <td>{{ pagamento.data_pagamento | date:" d/m/Y" }}</td>
                <td>{{ pagamento.categoria }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>



<div>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if pagamentos.has_previous %}
        <a class="page-link" href="?page=1">Primeiro</a>
        {% endif %}
      </li>
      <li class="page-item">
        {% if pagamentos.has_previous %}
        <a class="page-link" href="?page={{ pagamentos.previous_page_number }}">Anterior</a>
        {% endif %}
      </li>
      <li class="page-item active">
        <a class="page-link">Página {{ pagamentos.number }} de {{ pagamentos.paginator.num_pages }}<span class="sr-only">(atual)</span></a>
      </li>

      <li class="page-item">
        {% if pagamentos.has_next %}
          <a class="page-link" href="?page={{ pagamentos.next_page_number }}">Próximo</a>
        {% endif %}
      </li>
      <li class="page-item">
        {% if pagamentos.has_next %}
          <a class="page-link" href="?page={{ pagamentos.paginator.num_pages }}">Último</a>
        {% endif %}
      </li>

    </ul>
  </nav>
</div>



<!--
          <div class="pagination">
            <span class="step-links" align="center">
                {% if pagamentos.has_previous %}
                    <a href="?page=1">&laquo; Primeiro</a>
                    <a href="?page={{ pagamentos.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ pagamentos.number }} de {{ pagamentos.paginator.num_pages }}.
                </span>

                {% if pagamentos.has_next %}
                    <a href="?page={{ pagamentos.next_page_number }}">Próximo</a>
                    <a href="?page={{ pagamentos.paginator.num_pages }}">Último &raquo;</a>
                {% endif %}
            </span>
        </div>




-->







        </div>

</div>
{% endblock %}