{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block main %}


<div class="container-xl">

	<div class="mt-4 mb-4">
        <h1 class="texto-cor-1">Lista dos pagamentos</h1>
    </div>



  <!-- INÍCIO dos campos de Filtros -->
    <div class="mt-2 mb-4 fundo-card fundo-card-border texto-cor-2" >
		<div class="shadow p-4">
		
			<form method="GET">
		  
				<div class="row">
					<div class="col-md-6">
						<label>Por motivo:</label>
						<input type="text" class="form-control" placeholder="Motivo do pagamento" name="motivoPagamento" value="{{ request.GET.motivoPagamento }}">
					</div>
					<div class="col-md-3">
						<label>Valor:</label>
						<input type="number" step="any" class="form-control" placeholder="R$" name="valor" value="{{ request.GET.valor }}">
					</div>
					<div class="col-md-3">
						<label>Por data:</label>
						<input type="date" class="form-control" placeholder="Data do pagamento" name="data" value="{{ request.GET.data }}">
					</div>
				</div>
				
				<div class="row mt-2">
				
					<div class="col-md-6">
					  <div class="card-header">
						Por Banco
					  </div>
						<select class="form-control" size="7" name="banco" value="{{ request.GET.banco }}">
							<optgroup label="Banco">
								<option value="1">Bradesco</option>
								<option value="2">Itaú</option>
							</optgroup>
							 
							<optgroup label="Meios">
								<option value="3">cartao de debito bradesco</option>
								<option value="4">cartao de credito Bradesco</option>
								<option value="3">cartao de debito Itau</option>
								<option value="4">Dinheiro</option>
							</optgroup>
						</select>
					</div>

					<div class="col-md-6">
						<div class="card-header">
						Período
						</div>
							<div class="form-group col-md-12">
							<label for="inputCity">Data Inicial</label>
							<input type="date" class="form-control" name="startdate" value="{{ request.GET.startdate }}">
						</div>
			
						<div class="form-group col-md-12">
							<label for="inputZip">Data Final</label>
							<input type="date" class="form-control" name="enddate" value="{{ request.GET.enddate}}">
						</div>
					</div>
				</div>
				
				<div align="right">
					<button type="submit" class="btn btn-success">Executar Pesquisa</button>
				</div>
			</form>
		</div>
	</div>
    <!-- FIM dos campos de Filtros -->

<!--=================================================================================-->
    <!-- INÍCIO do Modal da opção de adicionado pagamento  -->
    <div align="right">

        <!-- Button to Open the Modal
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>
        -->

    </div>
    <!-- The Modal -->
      <form name="form-pag" action="/pagamentos/editar-pagamento/{{ pagamento.id }}">
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
  
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Fazer Pagamento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
  
              <!-- Modal body -->
              <div class="modal-body">
                
                  <div class="form-group">
                    <label>Motivo do Pagamento</label>
                    <input type="text" name="motivo_pagamento" required id="motivo_pagamento">
                  </div>

                  {{ form }}
  
                
              </div>]
  
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
  
            </div>
          </div>
        </div>
      </form>
  <!-- FIM do Modal da opção de adicionado pagamento  -->
<!--=================================================================================-->
    


    <div class="table-responsive-sm mt-2">
        <table class="table table-sm">
          <thead class="fundo-card texto-cor-2 thead-01">
            <tr>
                <th>Motivo</th>
                 <th>Valor</th>
                <th scope="col">Origem</th>
                <th scope="col">Tipo custo</th>
                <th scope="col">Data</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
                <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for pagamento in pagamentos %}
            <tr class="texto-tbody-tr">
                <td>{{ pagamento.motivo_pagamento }}</td>
                <td>R$: {{ pagamento.valor_pagamento|intcomma }}</td>
                <td>{{ pagamento.origem_valor_pagamento }}</td>
                <td>{{ pagamento.tipo_custo_pagamento }}</td>
                <td>{{ pagamento.data_pagamento | date:" d/m/Y" }}</td>
                <td>{{ pagamento.categoria }}</td>
                <td>
                  <a href="/pagamentos/editar-pagamento/{{ pagamento.id }}" class="btn-edit-01">Editar</a>
                </td>
                <td>
                  {% if pagamento.status_pago == True %}
                    <p style="color: green;">Pago</p>
                  {% else %}
                  <p style="color: red;">Aberto</p>
                  {% endif%}
                </td>
                
            </tr>
            {% endfor %}
          </tbody>
        </table>
	<div>
  
  
  
  
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if pagamentos.has_previous %}
        <a class="page-link" href="?page=1">Primeiro</a>
        {% endif %}
      </li>
      <li class="page-item">
        {% if pagamentos.has_previous %}
        <a class="page-link" href="?page={{ pagamentos.previous_page_number }}
      
        &banco={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">
        Anterior</a>
        {% endif %}
      </li>
      <li class="page-item active">
        <a class="page-link">Página {{ pagamentos.number }} de {{ pagamentos.paginator.num_pages }}<span class="sr-only">(atual)</span></a>
      </li>

      <li class="page-item">
        {% if pagamentos.has_next %}
          <a class="page-link" href="?page={{ pagamentos.next_page_number }}

          &banco={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">
          Próximo</a>
        {% endif %}
      </li>
      <li class="page-item">
        {% if pagamentos.has_next %}
          <a class="page-link" href="?page={{ pagamentos.paginator.num_pages }}
          
          &banco={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">
          Último</a>
        {% endif %}
      </li>

    </ul>
  </nav>
</div>




   <!--
            <div class="pagination">
            <span class="step-links" align="center">
                {% if pagamentos.has_previous %}
                    <a href="?page=1">&laquo; Primeiro</a>
                    <a href="?page={{ pagamentos.previous_page_number }}&q={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ pagamentos.number }} de {{ pagamentos.paginator.num_pages }}.
                </span>

                {% if pagamentos.has_next %}
                    <a href="?page={{ pagamentos.next_page_number }}&q={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">Próximo</a>
                    <a href="?page={{ pagamentos.paginator.num_pages }}&q={% if request.GET.banco %} {{ request.GET.banco }} {% endif %}">Último &raquo;</a>
                {% endif %}
            </span>
        </div>

   -->





        </div>

</div>
{% endblock %}