{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">
    <div>
        <h4>Grupos de Pagamentos Mensais</h4>
    </div>

    <canvas id="densityChart" width="600" height="400">

    <script>
        var densityCanvas = document.getElementById("densityChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            var densityData = {
            label: 'Density of Planets (kg/m3)',
            data: [{% for veiculos in mensalVeiculos %} '{{ veiculos.c }}', {% endfor %}]
            };

            var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: [{% for veiculos in mensalVeiculos %} '{{ veiculos.month|date:'F Y' }}', {% endfor %}],
                datasets: [densityData]
            }
            });
    </script>
</canvas>




    <canvas id="speedChartA" width="400" height="100"></canvas>
    <script>
        var speedCanvas = document.getElementById("speedChartA");
        var speedCanvas = document.getElementById("speedChartA");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var speedData = {
          labels: [
          {% for veiculos in mensalVeiculos %} '{{ veiculos.month|date:'F Y' }}', {% endfor %}
        ],
          datasets: [{
            label: "Instalação (dia)",
            data: [
            {% for veiculos in mensalVeiculos %} '{{ veiculos.c }}', {% endfor %}
          ],
            lineTension: 0,
            fill: false,
            borderColor: 'blue',
            backgroundColor: 'transparent',
            borderDash: [3, 3],
            pointBorderColor: 'blue',
            pointBackgroundColor: 'blue',
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
          }]
        };

        var chartOptions = {
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 80,
              fontColor: 'black'
            }
          }
        };

        var lineChart = new Chart(speedCanvas, {
          type: 'line',
          data: speedData,
          options: chartOptions
        });
</script>



</div>
{% endblock %}