{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">
    <div>
        <h4>Grupos de Pagamentos Mensais</h4>
    </div>



<div>
  <canvas id="speedChartA" width="600" height="100">
      <script>

          var speedCanvas = document.getElementById("speedChartA");

          Chart.defaults.global.defaultFontFamily = "Lato";
          Chart.defaults.global.defaultFontSize = 16;

          var speedData = {
          labels: [ {% for mensal in mensalVeiculos %}'{{ mensal.month|date:"F Y"  }}',{% endfor %} ],
          datasets: [{
              label: "Instalações (mês)",
              data: [{% for mensal in mensalVeiculos %} '{{ mensal.c }}', {% endfor %}],
          }]
          };

          var chartOptions = {
          legend: {
              display: true,
              position: 'top',
              labels: {
              boxWidth: 80,
              fontColor: 'black'
              }
          }
          };

          var lineChart = new Chart(speedCanvas, {
          type: 'line',
          data: speedData,
          options: chartOptions
          });
      </script>
  </canvas>
</div>




</div>
{% endblock %}