{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">

    <div class="mt-4">
        <h4>Pagamentos Futuros</h4>
    </div>
    
    <hr>

<!-- INÍCIO  Campo de Pesquisas-->
    <div class="card">
        <form method="GET">
        <div class="card-body">
        
            <div class="row">
            <div class="form-group col-8">
                <label for="inputCity">Motivo do pagamento</label>
                <input type="search" class="form-control" placeholder="Motivo do pagamentos" name="motivoPagamento" value="{{ request.GET.motivoPagamento }}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Escolha uma data</label>
                <input type="date" class="form-control" name="date" value="{{ request.GET.date }}">
            </div>
            </div>
        
            <button class=" form-control btn-success">
            <i class="fas fa-search"></i>
            Pesquisar
            </button>
        
        </div>
        </form>
    </div>
  
  <!-- FIM Campo de Pesquisas-->
    



    
    <hr>           
    <hr>
    <!-- CONTAS NÃO VENCIDAS-->
    <div class="card">
        <div class="card-header bg-success">
            Contas Não vencidas
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th scope="col">Motivo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Opções</th>
                    <th scope="col">Editar</th>
                </thead>
                <tbody>
                    {% for naoVencidas in naoVencidas %}
                    {% if naoVencidas.status_pago == False %}
                  <tr>
                    <td>{{ naoVencidas.motivo_pagamento }}</td>  
                    <td>{{ naoVencidas.valor_pagamento }}</td>
                    <td>{{ naoVencidas.data_pagamento | date:" d/m/Y" }}</td>
                    <td>{{ naoVencidas.categoria }}</td>
                    <td style="color:red;" title="Não Pago"><i class="fas fa-comments-dollar fa-lg"></i></td>
                    <td>
                        <a href="/pagamentos/comfirmar-pagamento/{{ naoVencidas.id }}" title="Pagar"><i class="fas fa-money-check-alt"></i></a>
                        
                    </td>
                    <td>
                        <a href="/pagamentos/editar-pagamento/{{ naoVencidas.id }}"><i class="far fa-edit text-warning"></i></a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}