{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container-xl">
    <div>
        <h4>Grupos de Pagamentos Mensais</h4>
    </div>

      {% for veiculos in mensalVeiculos %}
              {{ veiculos.month|date:'F Y'}} : {{ veiculos.c }}<br>
      {% endfor %}

  <hr>

  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [  {
            name: 'Year 2012',
            data: [{% for veiculos in mensalVeiculos %} {{ veiculos.c }}, {% endfor %}]
        }]
    });
  </script>
</body>
</html>

    


    


    <canvas id="speedChartA" width="400" height="100"></canvas>
    <script>
        var speedCanvas = document.getElementById("speedChartA");
        var speedCanvas = document.getElementById("speedChartA");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var speedData = {
          labels: [
          {% for veiculos in mensalVeiculos %} '{{ veiculos.month|date:'F Y' }}', {% endfor %}
        ],
          datasets: [{
            label: "Instalação (dia)",
            data: [
            {% for veiculos in mensalVeiculos %} '{{ veiculos.c }}', {% endfor %}
          ],
            lineTension: 0,
            fill: false,
            borderColor: 'blue',
            backgroundColor: 'transparent',
            borderDash: [3, 3],
            pointBorderColor: 'blue',
            pointBackgroundColor: 'blue',
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
          }]
        };

        var chartOptions = {
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 80,
              fontColor: 'black'
            }
          }
        };

        var lineChart = new Chart(speedCanvas, {
          type: 'line',
          data: speedData,
          options: chartOptions
        });
</script>



</div>
{% endblock %}