{% extends 'base.html' %}
{% load static %}

{% block title %}.:: Compras {% endblock %}

{% block main %}
<div class="container">

    <!-- Titúlo da página-->
    <div class="mt-4 mb-4">
        <h1 class="text-white">Lista de compras</h1>
    </div>

    <!-- =========================================================================================================== -->
    <!-- INÍCIO Messagens -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    <!-- FIM Messagens -->   

<!-- =========================================================================================================== -->

    <div align="right">
        <a href="{% url 'cadastrar_compra' %}" class="btn btn-primary text-white">Cadastrar compra</a>
        <a href="{% url 'historico_compras' %}" class="btn btn-info text-white">Histórico compras</a>
    </div>

    <div class="table-responsive-sm mt-4">
        <table class="table">
        <thead class="text-white">
            <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quant.</th>
            <th scope="col">Valor total</th>
            <th scope="col">Cadastro</th>
            <th scope="col">Editar</th>
            <th scope="col">Visualizar</th>
            <th scope="col">Conluir</th>
            </tr>
        </thead>
        <tbody class="text-white">
        {% for compra in compras %}
            <tr>
                <th scope="row">{{ compra.produto }}</th>
                <td>{{ compra.quantidade }}</td>
                <td>{{ compra.valor_total }}</td>
                <td>{{ compra.data_criacao }}</td>

                <td>
                    <a href="{% url 'editar_compra' compra.id %}" class="btn btn-warning btn-sm">Editar</a>
                </td>
                <td>
                    <a href="{% url 'detalhe_compra' compra.id %}" class="btn btn-info btn-sm">Detalhes</a>
                </td>
                <td>
                    <a href="{% url 'concluir_compra' compra.id %}" class="btn btn-success btn-sm">Finalizar</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>



</div>
{% endblock %}