{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="container">

    <div class="mt-4">
      <h5 class="mt-3 mb-3"><span class="badge badge-danger badge-pill">{{ quant_aberta }} </span> Instalações aberta </h5>
  </div>

         <!-- Messagens -->
         {% if messages %}
         {% for message in messages %}
             <div class="alert {{ message.tags }}" role="alert">
                 {{ message }}
             </div>
           {% endfor %}
           {% endif %}
   





    {% for aberta in abertas %}
    
    <div class="card-group mt-2 shadow border ">
      <div class="card border-0 ml-4 mt-2 mb-2">

        <small><strong>Nome: </strong></small>
          {{ aberta.nome_cliente }} {{ aberta.sobrenome_cliente}}
          <br>
          <small><strong>Rua:</strong></small>
          {{ aberta.rua_cliente }}, {{ aberta.numero_endereco_cliente }}
          <br>
          <small><strong>Bairro:</strong></small>
          {{ aberta.bairro_cliente }}
      </div>

      <div class="card border-0">
        <div align="right">
          <a href="/vendas/editar-instalacao/{{ aberta.id }}" class="btn btn-primary">Editar</a>
        
          <a href="/vendas/agendar-instalacao/{{ aberta.id }}" class="btn btn-warning">Agendar</a>
      
          <a href="visualizar-instalacao/?id={{ aberta.id }}" class="btn btn btn-info">Detalhes</a>
      </div>
      </div>
    </div>
    <hr>
    {% endfor %}
      
  </div>
{% endblock %}