{% extends 'base.html' %}
{% load static %}


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% block main %}
<div class="container">
    <div class="mt-2" align="right">
        <a class="btn btn-primary" href="cadastro-instalacao/">Adicionar Instalação</a>
    </div>

    <!-- Messagens -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
      {% endif %}

       <!-- STATUS DOS INSTALAÇÃO -->
    <h5 class="mt-3">Status Instalações</h5>

      {% if request.user.groups.all.0.name == "Adm" or request.user.groups.all.0.name == "Master" %} 
      <div class="card-deck">
      
        <div class="card border-danger" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Aberto</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_aberta}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-danger">
            <a href="instalacao-aberta/" class="btn btn-danger">Ver todos</a>
          </div>
        </div>
  
        <div class="card border-warning" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Agendado</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_agendada}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-warning">
            <a href="instalacao-agendada/" class="btn btn-warning text-white">Ver todos</a>
          </div>
        </div>
  
        <div class="card border-dark" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Finalizados sem boleto</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{ quant_sem_boleto }}</strong></div>
            </div>
          </div>
          <div class="card-footer border-dark">
            <a href="instalacao-finalizada-sem-boleto/" class="btn btn-dark">Ver todos</a>
          </div>
        </div>
  
  
        <div class="card border-success" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Finalizados</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_concluida}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-success">
            <a href="instalacao-concluida/" class="btn btn-success">Ver todos</a>
          </div>
        </div>
  
      {% elif request.user.groups.all.0.name == "Tecnico" %}
      <div class="card-deck">
      
        <div class="card border-danger" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Aberto</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_aberta}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-danger">
            <a href="instalacao-aberta/" class="btn btn-danger">Ver todos</a>
          </div>
        </div>
  
        <div class="card border-warning" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Agendado</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_agendada}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-warning">
            <a href="instalacao-agendada/" class="btn btn-warning text-white">Ver todos</a>
          </div>
        </div>
          {% elif request.user.groups.all.0.name == "Venda" %}
        <div class="card-deck">

        <div class="card border-danger" align="center">
            <div class="card-group">
              <div class="card border-0">
                <h5>Aberto</h5>
              </div>
              <div class="card border-0">
                <div class="display-4"><strong>{{quant_aberta_vendedor}}</strong></div>
              </div>
            </div>
            <div class="card-footer border-danger">
              <a href="instalacao-aberta/" class="btn btn-danger">Ver todos</a>
            </div>
        </div>

        <div class="card border-warning" align="center">
          <div class="card-group">
            <div class="card border-0">
              <h5>Agendado</h5>
            </div>
            <div class="card border-0">
              <div class="display-4"><strong>{{quant_agendada_vendedor}}</strong></div>
            </div>
          </div>
          <div class="card-footer border-warning">
            <a href="instalacao-agendada/" class="btn btn-warning text-white">Ver todos</a>
          </div>
        </div>
      </div> 
      <hr>
      <hr> 
      <!--
      {% for instalacaoVendedor in instalacaoVendedor %}
        {{ instalacaoVendedor.nome_cliente }} <br>
      {% endfor %}
      -->  
    {% endif %}
      </div>
        <hr>
        <hr>

  <!-- ****************************************Resumo de Instalações Mensais****************************************************** -->
      <!--Total de instalaçãoes mensais-->  
      <!--
    <div>
      <h5>Instalações Mensais</h5>
          {% for mensal in mensalInstalacao %}
            {{ mensal.month|date:"F Y"  }}: {{ mensal.c }}<br>
          {% endfor %}
    </div>

  -->


    
      <!-- ********************************************************************************************** -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <!-- ********************************************************************************************** -->
        <section>
          <div class="card-deck mt-4">
            <div class="card border-0">
              <div>
                <h4>Instalaçãoes por mês </h4>
                <hr>
                  </a>
                </h2>
              </div>
              <div class="card-body border-0" align="center">
        
                <canvas id="myCharts" width="400" height="80"></canvas>
                  <script>
                    var ctx = document.getElementById('myCharts').getContext('2d');
                    var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'bar',
                      // The data for our dataset
                      data: {
                        labels: [
                          {% for mensal in mensalInstalacao %}
                          '{{ mensal.month|date:"F Y"  }}',
                          {% endfor %}
                          ],
                        datasets: [{
                          label: 'Instalaçoes por dia',
                          backgroundColor: 'rgb(0,128,0)',
                          borderColor: 'rgb(0,128,0)',
                          data: [
                          {% for mensal in mensalInstalacao %}
                          '{{ mensal.c }}',
                          {% endfor %}
                            ]
                        }]
                      },
                      // Configuration options go here
                      options: {}
                    });
                  </script>
            </div>
          </div>
        </section>
  
  
    <!-- *********************  Resumo de Instalações Diárias  ************************************ -->

    <!--Total de instalações por dia -->
    <hr>
    <hr>
    <!--
    <div>
      <h5>Instalações Diárias</h5>
      {% for diario in diarioInstalaçao %}
        {{ diario.data_finalizacao}}: {{ diario.number}} <br>
      {% endfor %}
    </div>
    -->
    <h4>Instalaçãoes por dia  </h4>
    
    <canvas id="speedChart" width="400" height="100"></canvas>
    <script>
        var speedCanvas = document.getElementById("speedChart");
        var speedCanvas = document.getElementById("speedChart");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var speedData = {
          labels: [
          {% for diario in diarioInstalaçao %}
            '{{ diario.data_finalizacao }}',
          {% endfor %}
        ],
          datasets: [{
            label: "Instalação (dia)",
            data: [
            {% for diario in diarioInstalaçao  %}
              '{{ diario.number}}',
            {% endfor %}
          ],
            lineTension: 0,
            fill: false,
            borderColor: 'blue',
            backgroundColor: 'transparent',
            borderDash: [5, 5],
            pointBorderColor: 'blue',
            pointBackgroundColor: 'blue',
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
          }]
        };

        var chartOptions = {
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 80,
              fontColor: 'black'
            }
          }
        };

        var lineChart = new Chart(speedCanvas, {
          type: 'line',
          data: speedData,
          options: chartOptions
        });
</script>
 









</div>

{% endblock %}