{% extends 'base.html' %}
{% load static %}
{% block title %}<title>:: Instalações  agendadas </title> {% endblock %}

{% block main %}
<div class="container-xl">
  {% if request.user.groups.all.0.name == "Adm" or request.user.groups.all.0.name == "Master" %}
  <!-- INÍCIO  Campo de Pesquisas-->
	<div class="mt-3">
		<form method="GET">
		   <div class="row">
			   <div class="form-group col-10">
				   <input type="search" class="form-control" placeholder="Informe o nome do cliente"
						  name="q" value="{{ request.GET.q }}">
			   </div>
			   <div class="form-group col-2">
				   <button class=" form-control btn-success">
						<i class="fas fa-search"></i>
						Pesquisar
				   </button>
			   </div>
		   </div>
	   </form>
	</div>
	<!-- FIM Campo de Pesquisas-->

  <!-- INÍCIO Messagens -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}      
  <!-- FIM Messagens -->
  <hr>
  <hr>

  <div>
    <h5 class="mt-3 mb-3"><span class="badge badge-warning badge-pill">{{quant_agendada}} </span> Instalações Agendadas </h5>
  </div>

  
  
  <!-- INÍCIO da lista de instalaçoes agendas-->
  {% for agendada in agendadas %} 
  <div class="card shadow mt-2 mb-2 border border-warning">
    <div class="row">
      <div class="col-sm-9">
        <div class="card border-0 mt-2 mb-2 ml-2">
          <div>
            <small><strong>Nome:</strong></small>
                {{ agendada.nome_cliente }} {{ agendada.sobrenome_cliente }}<br>
              <small><strong>Rua:</strong></small>  
                {{ agendada.rua_cliente }}, {{ agendada.numero_endereco_cliente }}<br>
              <small><strong>Bairro:</strong></small>
                {{ agendada.bairro_cliente }}<br> 
              <small><strong>Data Instalação:</strong></small>  
                {{ agendada.data_instalacao }}  às {{ agendada.hora_instalacao }}<br>
              <small><strong>Observação:</strong></small>  
                {{ agendada.observacao_instalacao }}<br> 
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0 mt-2 mb-2 ml-2">
          <div>
            <div>
              <a href="/vendas/finalizar-instalacao/{{ agendada.id }}" class="btn btn-success">Finalizar</a>
              <a href="/vendas/definir-tecnico_instalacao/{{ agendada.id }}" title="Escolher Técnico"><i class="fas fa-users-cog fa-2x"></i></a>
              <a href="editar-instalacao/{{ agendada.id }}" title="Editar" style="color:gold;"><i class="fas fa-edit fa-2x"></i></a>
              <a href="visualizar-instalacao/?id={{ agendada.id }}" title="Visualizar"><i class="fas fa-eye fa-2x"></i></a>
              <a href="/vendas/deletar-instalacao-agendada/{{ agendada.id }}" title="Excluir" style="color:tomato;"><i class="fas fa-trash-alt fa-2x"></i></a>
                <div>
                  {% if agendada.funcionario_instalacao is null %}
                  <p style="color:red;">Por favor, defina um responsável pela instalação.</p>
                  {% else %}
                  <p>Responsável pela Instalação: <strong>{{ agendada.funcionario_instalacao.get_full_name }}</strong></p>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
  <!-- FIM da lista de instalaçoes agendas-->
      
  {%endif %}    
</div>
{% endblock %}