{% extends 'base.html' %}
{% load static %}
{% block title %}<title> :: Instalações </title> {% endblock %}


{% block main %}
<body style="background-color: lightgrey;">

</body>


<div class="container">
    
  <!-- INÍCIO Messagens -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  <!-- FIM Messagens -->   
  
  <!-- INiCIO dos botões de opções -->
  <div class="card shadow mt-4 border-0 p-2">
    <div align="right">
      <a class="btn btn-primary" href="cadastro-instalacao/"><i class="far fa-plus-square"></i> Instalação</a>
      <a class="btn btn-danger" href="criar-cancelamento/"><i class="far fa-plus-square"></i> Cancelamento</a>
      <a class="btn btn-info" href="lista-cancelamentos/"><i class="far fa-list-alt"></i> Cancelamentos</a>
    </div>
  </div>
  <!-- FIM dos botões de opções -->


  <!--INICIO dos status de instalações -->
  <div class="card shadow mt-4 p-2">
    <div class="card-deck">
      
      <div class="card border-danger" align="center">
        <div class="card-group">
          <div class="card border-0">
            <h5 class="mt-3">Aberto</h5>
          </div>
          <div class="card border-0" > 
            <div class="display-4"><strong>{{quant_aberta}}</strong></div>
          </div>
        </div>
        <div class="card-footer border-danger" align="right">
          <a href="instalacao-aberta/" ><i class="far fa-eye fa-2x text-danger"></i></a>
        </div>
      </div>

      <div class="card border-warning" align="center">
        <div class="card-group">
          <div class="card border-0">
            <h5 class="mt-3">Agendado</h5>
          </div>
          <div class="card border-0">
            <div class="display-4"><strong>{{quant_agendada}}</strong></div>
          </div>
        </div>
        <div class="card-footer border-warning" align="right">
          <a href="instalacao-agendada/"><i class="far fa-eye fa-2x text-warning"></i></a>
        </div>
      </div>

      <div class="card border-dark" align="center">
        <div class="card-group">
          <div class="card border-0">
            <h5 class="mt-3">Boletos</h5>
          </div>
          <div class="card border-0">
            <div class="display-4"><strong>{{ quant_sem_boleto }}</strong></div>
          </div>
        </div>
        <div class="card-footer border-dark" align="right">
          <a href="instalacao-finalizada-sem-boleto/"><i class="far fa-eye fa-2x text-dark"></i></a>
        </div>
      </div>

      <div class="card border-success" align="center">
        <div class="card-group">
          <div class="card border-0">
            <h5 class="mt-3">Finalizados</h5>
          </div>
          <div class="card border-0">
            <div class="display-4"><strong>{{quant_concluida}}</strong></div>
          </div>
        </div>
        <div class="card-footer border-success" align="right">
          <a href="instalacao-concluida/"><i class="far fa-eye fa-2x text-success"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--FIM dos status de instalações -->

  <!-- INICIO Gráfico de instalações por mês -->
  {% if request.user.groups.all.0.name == "Master" %}
  <div class="card shadow mt-4 p-2">
    <canvas id="speedChartA" width="600" height="100">
        <script>
            
            var speedCanvas = document.getElementById("speedChartA");
  
            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 16;
  
            var speedData = {
            labels: [ {% for mensal in mensalInstalacao %}'{{ mensal.month|date:"F Y"  }}',{% endfor %} ],
            datasets: [{
                label: "Instalações (mês)",
                data: [{% for mensal in mensalInstalacao %} '{{ mensal.c }}', {% endfor %}],
            }]
            };
  
            var chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                boxWidth: 80,
                fontColor: 'black'
                }
            }
            };
  
            var lineChart = new Chart(speedCanvas, {
            type: 'line',
            data: speedData,
            options: chartOptions
            });
        </script>
    </canvas>
  </div> 
  {% endif %}
  <!-- FIM Gráfico de instalações por mês -->

  <!-- INICIO Gráfico de instações diárias -->
  <div class="card shadow mt-4 mb-4 p-2">
    <canvas id="speedChart" width="400" height="100">
        <script>
          var speedCanvas = document.getElementById("speedChart");
          var speedCanvas = document.getElementById("speedChart");

          Chart.defaults.global.defaultFontFamily = "Lato";
          Chart.defaults.global.defaultFontSize = 18;

          var speedData = {
            labels: [
            {% for diario in diarioInstalaçao %} '{{ diario.data_finalizacao|date:"d M, Y" }}', {% endfor %}
          ],
            datasets: [{
              label: "Instalação (dia)",
              data: [
              {% for diario in diarioInstalaçao %} '{{ diario.number}}', {% endfor %}
            ],
              lineTension: 0,
              fill: false,
              borderColor: 'blue',
              backgroundColor: 'transparent',
              borderDash: [3, 3],
              pointBorderColor: 'blue',
              pointBackgroundColor: 'blue',
              pointRadius: 5,
              pointHoverRadius: 10,
              pointHitRadius: 30,
              pointBorderWidth: 2,
              pointStyle: 'rectRounded'
            }]
          };

          var chartOptions = {
            legend: {
              display: true,
              position: 'top',
              labels: {
                boxWidth: 80,
                fontColor: 'black'
              }
            }
          };

          var lineChart = new Chart(speedCanvas, {
            type: 'line',
            data: speedData,
            options: chartOptions
          });
        </script>
    </canvas>
    
  </div>
  <!-- FIM Gráfico de instações diárias -->



  <!-- INICIO Gráfico de como os clientes conheceram a empresa -->
  <div class="mb-2">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Como conheceu a empresa? #( {{ conheceu_empresa_count }} )</h5>
            <canvas id="quantidadeManuais" width="400" height="200"></canvas>
						<script>
							var ctxy = document.getElementById('quantidadeManuais').getContext('2d');
							var myDoughnutChart = new Chart(ctxy, {
								// The type of chart we want to create
								type: 'pie',

								// The data for our dataset
								data: {
									labels: ['Panfleto', 'Redes Sociais', 'Site', 'Indicação', 'Outros'],
									datasets: [{
										label: 'Equipamentos nos clientes',
										backgroundColor: '',
										borderColor: 'white',
										data: [{{ panfletos_count }},{{ redes_sociais_count }}, {{ site_count }}, {{ indicacao_count }}, {{ outros_count}}],

										backgroundColor: [
										'rgba(0,0,255)',
										'rgba(79,79,79)',
										'rgba(0,128,0)',
										'rgba(255,215,0)',
										'rgba(255,69,0)'
										],
									}]
								},
								// Configuration options go here
								options: {}
							});
					</script>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-0">
   
        </div>
      </div>
    </div>
  </div>
    
  <!-- INICIO Gráfico de como os clientes conheceram a empresa -->

</div>
{% endblock %}