{% extends 'base.html' %}
{% load static %}
{% block title %}.:: Instalações Conluídas {% endblock %}

{% block main %}
<div class="container">

    <div class="mt-4">
        <h1 class="mt-4 mb-3 texto-cor-1"><span class="badge badge-success badge-pill">{{quant_concluida}} </span> Instalações Concluídas </h1>
        <hr class="line-solid">
    </div>

    <div class="card fundo-card">
    <form method="GET" class="texto-cor-2 p-2">
			<div class="row">
				<div class="form-group col-md-8">
					<input type="search" class="form-control"
						   placeholder="Informe nome do cliente"
						   name="q" value="{{ request.GET.q }}">
				</div>

        <div class="form-group col-md-4">
					<input type="date" class="form-control"
						   placeholder="Informe nome do cliente"
						   name="date" value="{{ request.GET.date }}">
				</div>
			</div>
      <div align="right">
          <button type="submit" class="btn btn-success">Executar Pesquisa</button>
        </div>
		</form>
    </div>

    <!-- Messagens -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
      {% endif %}

    <div align="right" class="mb-1 mt-1">
        <a href="/vendas/instalacao-concluida-vendedores/" class="btn btn-info">Verificar por vendedor</a>
    </div>


    <div class="table-responsive">
        <table class="table">
          <thead class="fundo-card texto-cor-2 thead-01">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Endereço</th>
                <th scope="col">Bairro</th>
                <th>Data Instalação</th>
                <th scope="col">Como conheceu</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
          {% for concluida in concluidas %}
            <tr class="texto-tbody-tr">
                <td>{{ concluida.nome_cliente }} {{ concluida.sobrenome_cliente}}</td>
                <td>{{ concluida.rua_cliente }}, {{ concluida.numero_endereco_cliente }}</td>
                <td>{{ concluida.bairro_cliente }}</td>
                <td>{{ concluida.data_finalizacao|date:"d M, Y" }}</td>
                <td>{{ concluida.como_conheceu_empresa }}</td>
                <td>{{ concluida.instalacao_vendedor }}</td>
                <td>
                  <a href="visualizar-instalacao/?id={{ concluida.id }}" class="btn-edit-01">Ver</a>
                </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}