{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="mt-2" align="right">
        <a class="btn btn-primary" href="cadastro-instalacao/">Adicionar Instalação</a>
    </div>

    <div>
        <h4>Status das Instalações</h4>
    </div>

    <div class="row">
      {% if quant_aberta == 0 %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            Não existe instalaçãoes aguardando análise!
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Em aberto</h5>
            <h1 class="card-text">{{quant_aberta}}</h1>
            <a href="instalacao-aberta/" class="btn btn-primary">Ver todas</a>
          </div>
        </div>
      </div>

      {% endif %}




      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Em agenda</h5>
            <h1 class="card-text">{{quant_agendada}}</h1>
            <a href="instalacao-agendada/" class="btn btn-primary">Ver todas</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Concluídas</h5>
            <h1 class="card-text">{{quant_concluida}}</h1>
            <a href="instalacao-concluida/" class="btn btn-primary">Ver todas</a>
          </div>
        </div>
      </div>
    </div>




</div>

{% endblock %}