{% extends 'base.html' %}
{% load static %}

{% block main %}


<div class="container">

  <div class="mt-4">
    <h1 class="mt-3 mb-3 texto-cor-1"><span class="badge badge-success badge-pill">{{quant_concluida}} </span> Instalações Concluída Por vendedores </h1>
    <hr class="line-solid">
  </div>

  <div class="mb-4">
    <form method="GET" class="texto-cor-2">
      <div class="row">
        <div class="form-group col-6">
          <label>Vendedor:</label>
          <select name="q" value="{{ request.GET.q }}" class="form-control">
            <option selected value="0">Escolha...</option>
              <option value="1">Speed Network</option>
              <option value="2">Ana Lúcia</option>
              <option value="3">Ricardo</option>
              <option value="4">Larissa</option>
              <option value="5">Hanna</option>
              <option value="6">Audrey</option>
              <option value="7">Paulo Alves</option>      
        </select>
        </div>

        <div class="form-group col-3">
          <label>Data Inicial:</label>
          <input type="date" class="form-control" name="startdate" value="{{ request.GET.startdate }}">
        </div>


        <div class="form-group col-3">
          <label>Data Final:</label>
          <input type="date" class="form-control" name="enddate" value="{{ request.GET.enddate}}">
        </div>

      </div>

      <button class=" form-control btn-success">
        Buscar
  
      </button>
    </form>
  </div>





  <!-- Messagens -->
  {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}


  <div align="right">
    <a href="{% url 'exportar-reletario-vendas-vendedor' %}" class="btn btn-danger">Exportar para CSV</a>
  </div>


  <div class="mt-4 mb-4">
    <table class="table table-sm ">
      <thead class="fundo-card texto-cor-2 thead-01">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Rua</th>
            <th scope="col">Nº</th>
            <th>Data Finalização</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
      {% for concluida in concluidas %}
        <tr class="texto-tbody-tr">
            <td>{{ concluida.id }}</td>
            <td class="nav-link ">{{ concluida.nome_cliente }} {{ concluida.sobrenome_cliente}}</td>
            <td>{{ concluida.rua_cliente }}</td>
            <td>{{ concluida.numero_endereco_cliente }}</td>
            <td>{{ concluida.data_finalizacao|date:"d M, Y" }}</td>
            <td>{{ concluida.instalacao_vendedor }}</td>
            <td>
                  <a href="/vendas/instalacao-concluida/visualizar-instalacao/?id={{ concluida.id }}" class="btn-edit-01">Ver</a>
                </td>
        </tr>
  
      {% endfor %}
  
      </tbody>
    </table>
  </div>
</div>



{% endblock %}