{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">

    <div class="mt-4 mb-4">
        <h2 class="ui dividing header blue">Cancelamentos ( {{ count_cancelamentos}} )<a class="anchor" id="content"></a></h2>
    </div>

    <!-- Messagens -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <!-- Messagens -->


  <!-- =====================================================================================================-->
  <!-- =====================================================================================================-->

  <div id="chart_mensais" class="shadow mb-2">
    <script>
      var options = {
            series: [{
              name: "Cancelamentos",
              data: [{% for cancelamentos in cancelamentos_mensais %} '{{ cancelamentos.total }}',  {% endfor %}]
            }
          ],

          dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},


            chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            },
          },
          dataLabels: {
            enabled: false
          },

          colors: ['#FF0000', '#FF0000'],//Coloca a cor da barra
          stroke: {
            width: [2, ],
            curve: 'straight',
            dashArray: [0, 8, 5]
          },
          title: {
            text: 'Cancelamentos Mensais',
            align: 'left'
          },
          
          markers: {
            size: 0,
            hover: {
              sizeOffset: 6
            }
          },
          xaxis: {
            categories: [
              {% for cancelamentos in cancelamentos_mensais %} '{{ cancelamentos.month|date:'M, Y' }}',  {% endfor %}
            ],
          },

          grid: {
            borderColor: '#f1f1f1',
          }
          };

          var chart = new ApexCharts(document.querySelector("#chart_mensais"), options);
          chart.render();
    </script>
  </div>
  <!-- =====================================================================================================-->
  <!-- =====================================================================================================-->



  <div class="row">
    <!-- Gráfico de cancelamentos mês atual-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mês atual</h5>
          <div id="chart_mes_atual">
            <script>
              var options = {
                series: [ 


                  {{ plano_100mb_mes_atual }},
                  {{ plano_200mb_mes_atual }},
                  {{ plano_400mb_mes_atual }},
                  {{ plano_500mb_mes_atual }},

                  {{ plano_600mb_mes_atual }}
                  
                  
                  ],
                chart: {
                width: 380,
                type: 'donut',
              },
              labels: ['100MB', '200MB', '400MB', '500MB', '600MB'],
              responsive: [{
                breakpoint: 480,
                options: {
                  chart: {
                    width: 200
                  },
                  legend: {
                    position: 'bottom'
                  }
                }
              }]
              };
              var chart = new ApexCharts(document.querySelector("#chart_mes_atual"), options);
              chart.render();
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Gráfico de cancelamentos nos Geral-->
    <div class="col-sm-6 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Geral ( {{ count_cancelamentos}} )</h5>
          <div id='chart_geral'>
            <script>
              var options = {
                series: [ 


                  {{ plano_100mb }},
                  {{ plano_200mb }},
                  {{ plano_400mb }},
                  {{ plano_500mb }},

                  {{ plano_600mb }}
                  
                  
                  ],
                chart: {
                width: 380,
                type: 'pie',
              },
              labels: ['100MB', '200MB', '400MB', '500MB', '600MB'],
              responsive: [{
                breakpoint: 480,
                options: {
                  chart: {
                    width: 200
                  },
                  legend: {
                    position: 'bottom'
                  }
                }
              }]
              };
              var chart = new ApexCharts(document.querySelector("#chart_geral"), options);
              chart.render();
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- =====================================================================================================-->
<!-- =====================================================================================================-->
 



    <!-- TABELA com os nomes dos cancelados -->
    <div class="card shadow mt-4">
      <div class="card-header">
        Listagem de cancelamentos
      </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Plano</th>
                <th scope="col">Bairro</th>
                <th scope="col">Atendente</th>
                <th scope="col">Motivo</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
            {% for cancelamento in cancelamentos %}    
              <tr>
                <th>{{ cancelamento.nome }}</th>
                <td>{{ cancelamento.plano_internet|linebreaks  }}</td>
                <td>{{ cancelamento.bairro }}</td>
                <td>{{ cancelamento.atendente }}</td>
                <td>{{ cancelamento.motivo }}</td>
                <td><a href="{% url 'editar-cancelamento' cancelamento.pk %}"> <i class="material-icons" style="color:gold;">edit</i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- TABELA com os nomes dos cancelados -->

</div>
{% endblock %}