{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">

    <div class="mt-4">
        <h5 class="mt-3 mb-3"> Lista de cancelamentos </h5>
    </div>

    <!-- Messagens -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <!-- Messagens -->

    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Plano</th>
                <th scope="col">Bairro</th>
                <th scope="col">Atendente</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
            {% for cancelamento in cancelamentos %}    
              <tr>
                <th>{{ cancelamento.nome }}</th>
                <td>{{ cancelamento.plano_internet }}</td>
                <td>{{ cancelamento.bairro }}</td>
                <td>{{ cancelamento.atendente }}</td>
                <td><a href="{% url 'editar-cancelamento' cancelamento.pk %}"> Editar</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

</div>
{% endblock %}