
{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="container">
    <div>
        <h4 class="mt-2">Nome: {{ install.nome_cliente }} {{ install.sobrenome_cliente }}</h4>


		<h5>Dados Pessoais:</h5>
		CPF: {{ install.cpf_cliente }}<br>
		RG: {{ install.rg_cliente }}<br>
		Telefone: {{ install.telefone_cliente }}<br>
		E-mail: {{ install.email_cliente }}<br>


		<h5 class="mt-3">Endereço:</h5>
		<strong>Rua:</strong> {{ install.rua_cliente }}, {{ install.numero_endereco_cliente }}<br>
		<strong>Complemento:</strong> {{ install.complemento_endereco_cliente }}<br>
		<strong>Bairro:</strong> {{ install.bairro_cliente }}<br>
		<strong>CEP: </strong> {{ install.cep_cliente }}<br>
		<strong>Cidade:</strong> {{ install.cidade }}<br>


		<h6 class="mt-3">Plano:</h6>
		<strong>Plano:</strong> {{ install.planos_instalacao }}<br>

    </div>





</div>
{% endblock %}