
{% extends "base.html" %}
{% load static %}

{% block title %}<title>Informações do Cliente</title>{% endblock %}

{% block main %}
<div class="container">

	<!-- DADOS DO CLIENTE-->
	<div class="card mt-2">
		<div class="card-header">
		  <h6>Dados do cliente</h4>
		</div>
		<div class="card-body">
			<p><strong>Nome:</strong> {{ install.nome_cliente }} {{ install.sobrenome_cliente }}</p>
			<p><strong>CPF:</strong> {{ install.cpf_cliente }}</p>
		</div>
	  </div>

	  <!-- CONTATOS-->
	<div class="card mt-2">
		<div class="card-header">
		  <h6>Contatos</h6>
		</div>
		<div class="card-body">
			<p><strong>Telefone 1:</strong> {{ install.telefone1_cliente }}</p>
			<p><strong>Telefone 2:</strong> {{ install.telefone2_cliente }}</p>
			<p><strong>E-mail:</strong> {{ install.email_cliente }}</p>
		</div>
	  </div>

	 <!-- ENDEREÇO DO CLIENTE-->
	 <div class="card mt-2">
		<div class="card-header">
		  <h6>Endereço do cliente</h6>
		</div>
		<div class="card-body">
			<p><strong>CEP:</strong> {{ install.cep_cliente }}</p>
			<p><strong>Rua:</strong> {{ install.rua_cliente }}</p>
			<p><strong>Nº:</strong> {{ install.numero_endereco_cliente }}</p>
			<p><strong>Complemento:</strong> {{ install.complemento_endereco_cliente }}</p>
			<p><strong>Nº:</strong> {{ install.numero_endereco_cliente }}</p>
			<p><strong>Bairro:</strong> {{ install.bairro_cliente }}</p>
			<p><strong>Cidade:</strong> {{ install.cidade }}</p>
		</div>
	  </div>  

	 <!-- ENDEREÇO DO CLIENTE-->
	 <div class="card mt-2">
		<div class="card-header">
		  <h6>Informações do plano</h6>
		</div>
		<div class="card-body">
			<p><strong>Plano:</strong> {{ install.planos_instalacao }}</p>
			<p><strong>Data de vencimento:</strong> {{ install.data_vencimento }}</p>
		</div>
	  </div>  
  </div>
{% endblock %}