{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">

    <div class="mt-4">
        <h5 class="mt-3 mb-3"><span class="badge badge-success badge-pill">{{quant_clientes_ativo}} </span> Serviço de Voip </h5>
    </div>

    <div>

    </div>

    <!-- Messagens -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
      {% endif %}



      <div class="p-1 mb-1 bg-dark text-white">
          <div align="center"><h5>Gráficos</h5></div>
      </div>

<!-- Comparação de números novos X Portabilidade-->
   <div>

      <!-- {% for mes in VendaMes %}{{ mes.month }}: {{ mes.c }}  {% endfor %}-->
    <canvas id="speedChart" width="600" height="100">
        <script>
            
            var speedCanvas = document.getElementById("speedChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            var speedData = {
            labels: [ {% for veiculos in VendaMes %} '{{ veiculos.month|date:'F Y'  }}', {% endfor %}],
            datasets: [{
                label: "Vendas (mês)",
                data: [{% for veiculos in VendaMes %} '{{ veiculos.c }}', {% endfor %}],
            }]
            };

            var chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                boxWidth: 80,
                fontColor: 'black'
                }
            }
            };

            var lineChart = new Chart(speedCanvas, {
            type: 'line',
            data: speedData,
            options: chartOptions
            });
        </script>
    </canvas>
   </div>



    <!-- Comparação de números novos X Portabilidade-->
    <div>
        <div class="card">
            <div class="card-header">
              Números novos x Portabilidade
            </div>
            <div class="card-body">
              
              <p class="card-text">Representação de clientes que pediram números novos e clinetes que fizeram portabilidade</p>
              
              <div>
                <canvas id="portabilidade" width="400" height="150"></canvas>
                    <script>
                        var ctxy = document.getElementById('portabilidade').getContext('2d');
                        var myDoughnutChart = new Chart(ctxy, {
                            // The type of chart we want to create
                            type: 'pie',

                            // The data for our dataset
                            data: {
                                labels: ['Novos', 'Portabilidade',],
                                datasets: [{
                                    label: 'Equipamentos nos clientes',
                                    backgroundColor: '',
                                    borderColor: 'white',
                                    data: [{{ quant_numeros_novos }},{{ quant_numeros_portabilidade }}, ],

                                    backgroundColor: [
                                    'rgba(0,0,255)',
                                    'rgba(79,79,79)',
                                    ],
                                }]
                            },
                            // Configuration options go here
                            options: {}
                        });
                </script>
            </div>
            </div>
          </div>
    </div>




</div>

{% endblock %}