{% extends 'base.html' %}
{% load static %}

{% block title %} .:: Status dos Serviços {% endblock %}

{% block main %}


</body>
<div class="container">
  <!-- INÍCIO Botões com as opções da página -->
  <div class="mt-4 mb-2">
    <div align="right">
      <a href="cadastro-servico/" class="btn btn-primary">Abrir serviço</a>
      <a href="{% url 'servicos-de-retiradas-agendados' %}" class="btn btn-danger">Retiradas em Análise ( {{quant_retiradas_agendados}} ) </a>
    </div>
  </div>
  <!-- FIM Botões com as opções da página -->
  <hr>
  <!-- INICIO Campo que mostrar as mensagens da página -->
  <div>
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}
  </div>
<!-- FIM Campo que mostrar as mensagens da página -->

<!-- INÍCIO com as opções de processos dos serviços -->
  <div class="mt-2 mb-2">
    <div class="card">
      <h5 class="card-header">Status dos Serviços</h5>
      <div class="card-body">
        <div class="card-body">
          <div class="card-deck">
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Abertos</h5>
                <div class="media-body">
                  <div align="right">
                    <h3 class="p-2"></h3>
                    <h1 class="p-2"><span class="badge badge-danger badge-pill">{{ contarAbertos }}</span></h1>
                    <a href="servicos-abertos/" class="btn btn-outline-danger mr-2">+ Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Agendados</h5>
                <div class="media-body">
                  <div align="right">
                    <h1 class="p-2"><span class="badge badge-warning badge-pill">{{contarAgendados}}</span></h1>
                    <a href="servicos-agendados/" class="btn btn-outline-warning mr-2">+ Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Finalizados</h5>
                <div class="media-body">
                  <div align="right">
                  <div align="right">
                    <h1 class="p-2"><span class="badge badge-success badge-pill">{{contarFinalizados}}</span></h1>
                  <a href="servicos-finalizados/" class="btn btn-outline-success mr-2">+ Ver todos</a>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- FIM com as opções de processos dos serviços -->


<!-- ========================================================================================================= -->
<h3 class="ui dividing header blue">Gráfico de serviços não concluídos<a class="anchor" id="content"></a></h3>
  <!-- Gráfico de serviços diários -->
  <div class="card">
    <div id="chart_AB">
            <script>
              var options = {
				  series: [{
				  name: 'Outros',
				  data: [{{ quant_serv_abertos_outros }}]
				}, {
				  name: 'Velocidade',
				  data: [{{ quant_serv_abertos_velocidade }}]
				}, {
				  name: 'Oscilação',
				  data: [{{ quant_serv_abertos_osciliacao }}]
				}, {
				  name: 'Retirada',
				  data: [{{ quant_serv_abertos_retirada }}]
				}, {
				  name: 'Fibra Rompida',
				  data: [{{ quant_serv_abertos_fibra_rompida }}]
				}
				, {
				  name: 'Troca de Modem',
				  data: [{{ quant_serv_abertos_troca_modem }}]
				}, {
				  name: 'Voip',
				  data: [{{ quant_serv_abertos_voip }}]
				}
				, {
				  name: 'Sinal Alto',
				  data: [{{ quant_serv_abertos_sinal_alto }}]
				}, {
				  name: 'Troca de Senha',
				  data: [{{ quant_serv_abertos_trocar_senha }}]
				}

				],
				  chart: {
				  type: 'bar',
				  height: 200,
				  stacked: true,
				  stackType: '100%'
				},
				plotOptions: {
				  bar: {
					horizontal: true,
				  },
				},
				stroke: {
				  width: 1,
				  colors: ['#fff']
				},
				title: {
				  text: 'Serviços não concluídos'
				},
				xaxis: {
				  categories: ["Abertos",],
				},
				tooltip: {
				  y: {
					formatter: function (val) {
					  return val + " S "
					}
				  }
				},
				fill: {
				  opacity: 1
				
				},
				legend: {
				  position: 'top',
				  horizontalAlign: 'left',
				  offsetX: 40
				}
				};

				var chart = new ApexCharts(document.querySelector("#chart_AB"), options);
				chart.render();
			  
          </script>
    </div>
  </div>
<!-- ========================================================================================================= -->


<!-- INICIO Gráfico com o serviços Mensal  -->
<div class="mt-2 mb-2">
  <div class="card">
    <h5 class="card-header">Serviços Mensal</h5>
    <div class="card-body">
        <canvas id="speedChartA" width="600" height="100">
          <script>
              
              var speedCanvas = document.getElementById("speedChartA");

              Chart.defaults.global.defaultFontFamily = "Lato";
              Chart.defaults.global.defaultFontSize = 16;

              var speedData = {
              labels: [ {% for mensal in servicosMensal %}'{{ mensal.month|date:"F Y"  }}',{% endfor %} ],
              datasets: [{
                  label: "Serviços (mês)",
                  data: [{% for mensal in servicosMensal %} '{{ mensal.c }}', {% endfor %}],
              }]
              };

              var chartOptions = {
              legend: {
                  display: true,
                  position: 'top',
                  labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                  }
              }
              };
              var lineChart = new Chart(speedCanvas, {
              type: 'line',
              data: speedData,
              options: chartOptions
              });
          </script>
      </canvas>
    </div>
  </div>
</div>
<!-- FIM Gráfico com o serviços Mensal  -->


<!-- ========================================================================================================= -->
<!-- ========================================================================================================= -->
<h3 class="ui dividing header blue">Gráfico de serviços diários<a class="anchor" id="content"></a></h3>
  <!-- Gráfico de serviços diários -->
  <div class="card">
    <div id="chart_B">
            <script>
              var options = {
                  series: [{
                          name: 'Funcionários',
                          data: [ {% for diario in diarioServicos %} '{{ diario.number}}', {% endfor %} ]
                      }
                  ],
                  dataLabels: {enabled: true,/*Coloca o valores em cada mês*/},
                  chart: {
                  height: 350,
                  type: 'line',
                  zoom: {
                      enabled: false
                  },
                  animations: {
                      enabled: false
                  }
                  },
                  stroke: {
                  width: [2],
                  curve: 'straight',
                  dashArray: [4, 8, 5]//Se quiser a linha pontilhada
                  },
                  labels: [{% for diario in diarioServicos %} '{{ diario.data_finalizacao }}', {% endfor %}],
                  title: {
                  text: 'Serviços diários'
                  },
                  xaxis: {
                  },
                  };

                  var chart = new ApexCharts(document.querySelector("#chart_B"), options);
                  chart.render();
          </script>
    </div>
  </div>
<!-- ========================================================================================================= -->
<!-- ========================================================================================================= -->

<!-- ========================================================================================================= -->
<!-- ========================================================================================================= -->
<h3 class="ui dividing header blue">Gráfico de serviços mensais por categoria<a class="anchor" id="content"></a></h3>
  <!-- Gráfico de serviços do mês -->
  <div class="mt-2">
    <div class="row">
      <!-- Serviços por categoria no mês atual-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{% now 'M Y' %}</h5>
            <div id='chart'>
              <script>
                var options = {
                    series: [
                      
                    {{ quant_outros_mes }},
                    {{ quant_serv_velocidade_mes }},
                    {{ quant_serv_osciliacao_mes }},
                    {{ quant_serv_retirada_mes }},
                    {{ quant_serv_fibra_rompida_mes }},
                    {{ quant_serv_troca_modem_mes }},
                    {{ quant_serv_voip_mes }},
                    {{ quant_serv_sinal_alto_mes }},
                    {{ quant_trocar_senha_mes }},
                  
                  ],
                    chart: {
                    width: 380,
                    type: 'pie',
                  },
                  labels: [
                    
                  'Outros',
                  'Velocidade',
                  'Oscilação',
                  'Retirada',
                  'Fibra Rompida',
                  'Troca de modem',
                  'Voip',
                  'Sinal Alto',
                  'Senha',
                
                ],
                  responsive: [{
                    breakpoint: 480,
                    options: {
                      chart: {
                        width: 200
                      },
                      legend: {
                        position: 'bottom'
                      }
                    }
                  }]
                  };
                  var chart = new ApexCharts(document.querySelector("#chart"), options);
                  chart.render();
              </script>
            </div>
          </div>
        </div>
      </div>

      <!-- Serviços por categoria no geral -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Geral</h5>
            <div id='chart_A'>
              <script>
                var options = {
                    series: [

                    {{ quant_outros }},
                    {{ quant_serv_velocidade }},
                    {{ quant_serv_osciliacao }},
                    {{ quant_serv_retirada }},
                    {{ quant_serv_fibra_rompida }},
                    {{ quant_serv_troca_modem }},
                    {{ quant_serv_voip }},
                    {{ quant_serv_sinal_alto }},
                    {{ quant_trocar_senha }},

                  ],
                    chart: {
                    width: 380,
                    type: 'donut',
                  },
                  labels: [
                    
                  'Outros',
                  'Velocidade',
                  'Oscilação',
                  'Retirada',
                  'Fibra Rompida',
                  'Troca de modem',
                  'Voip',
                  'Sinal Alto',
                  'Senha',
                
                ],
                  responsive: [{
                    breakpoint: 480,
                    options: {
                      chart: {
                        width: 200
                      },
                      legend: {
                        position: 'bottom'
                      }
                    }
                  }]
                  };

                  var chart = new ApexCharts(document.querySelector("#chart_A"), options);
                  chart.render();
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ======================================================================================================== -->
<!-- ========================================================================================================= -->
<!-- FIM do Container-->
</div>
{% endblock %}