{% extends 'base.html' %}
{% load static %}

{% block title %}<title> Status dos Serviços </title> {% endblock %}

{% block main %}
<div class="container">
  <div align="right" class="p-3">
    <a href="cadastro-servico/" class="btn btn-primary"><h4>Abrir serviço</h4></a>
  </div>



  <div class="card-deck">

    <div class="card shadow-lg">
      <div class="media">
        <h5 class="p-2">Abertos</h5>
        <div class="media-body">
          <div align="right">
            <h3 class="p-2"></h3>
            <h1 class="p-2"><span class="badge badge-danger badge-pill">{{ contarAbertos }}</span></h1>
            <a href="servicos-abertos/" class="btn btn-outline-danger">+ Ver todos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-lg">
      <div class="media">
        <h5 class="p-2">Agendados</h5>
        <div class="media-body">
          <div align="right">
            <h1 class="p-2"><span class="badge badge-warning badge-pill">{{contarAgendados}}</span></h1>
            <a href="servicos-agendados/" class="btn btn-outline-warning">+ Ver todos</a>
          </div>
        </div>
      </div>
    </div>


    <div class="card shadow-lg">
      <div class="media">
        <h5 class="p-2">Finalizados</h5>
        <div class="media-body">
          <div align="right">
          <div align="right">
            <h1 class="p-2"><span class="badge badge-success badge-pill">{{contarFinalizados}}</span></h1>
           <a href="servicos-finalizados/" class="btn btn-outline-success">+ Ver todos</a>
          </div>
        </div>
    </div>
    </div>
</div>
  </div>
{% endblock %}