{% extends 'base.html' %}
{% load static %}

{% block title %}<title> Status dos Serviços </title> {% endblock %}

{% block main %}
<body style="background-color: lightgrey;">

</body>
<div class="container">
  <!-- INÍCIO Botões com as opções da página -->
  <div class="mt-4 mb-2">
    <div align="right">
      <a href="cadastro-servico/" class="btn btn-primary">Abrir serviço</a>
    </div>
  </div>
  <!-- FIM Botões com as opções da página -->
  <hr>
  <!-- INICIO Campo que mostrar as mensagens da página -->
  <div>
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}
  </div>
<!-- FIM Campo que mostrar as mensagens da página -->

<!-- INÍCIO com as opções de processos dos serviços -->
  <div class="mt-2 mb-2">
    <div class="card">
      <h5 class="card-header">Status dos Serviços</h5>
      <div class="card-body">
        <div class="card-body">
          <div class="card-deck">
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Abertos</h5>
                <div class="media-body">
                  <div align="right">
                    <h3 class="p-2"></h3>
                    <h1 class="p-2"><span class="badge badge-danger badge-pill">{{ contarAbertos }}</span></h1>
                    <a href="servicos-abertos/" class="btn btn-outline-danger">+ Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Agendados</h5>
                <div class="media-body">
                  <div align="right">
                    <h1 class="p-2"><span class="badge badge-warning badge-pill">{{contarAgendados}}</span></h1>
                    <a href="servicos-agendados/" class="btn btn-outline-warning">+ Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow-lg">
              <div class="media">
                <h5 class="p-2">Finalizados</h5>
                <div class="media-body">
                  <div align="right">
                  <div align="right">
                    <h1 class="p-2"><span class="badge badge-success badge-pill">{{contarFinalizados}}</span></h1>
                  <a href="servicos-finalizados/" class="btn btn-outline-success">+ Ver todos</a>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- FIM com as opções de processos dos serviços -->

<!-- INICIO Gráfico com o serviços Mensal  -->
<div class="mt-2 mb-2">
  <div class="card">
    <h5 class="card-header">Serviços Mensal</h5>
    <div class="card-body">
        <canvas id="speedChartA" width="600" height="100">
          <script>
              
              var speedCanvas = document.getElementById("speedChartA");

              Chart.defaults.global.defaultFontFamily = "Lato";
              Chart.defaults.global.defaultFontSize = 16;

              var speedData = {
              labels: [ {% for mensal in servicosMensal %}'{{ mensal.month|date:"F Y"  }}',{% endfor %} ],
              datasets: [{
                  label: "Serviços (mês)",
                  data: [{% for mensal in servicosMensal %} '{{ mensal.c }}', {% endfor %}],
              }]
              };

              var chartOptions = {
              legend: {
                  display: true,
                  position: 'top',
                  labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                  }
              }
              };
              var lineChart = new Chart(speedCanvas, {
              type: 'line',
              data: speedData,
              options: chartOptions
              });
          </script>
      </canvas>
    </div>
  </div>
</div>
<!-- FIM Gráfico com o serviços Mensal  -->

 <!-- INICIO Gráfico com o serviços diários  -->  
<div class="mt-2 mb-2">
  <div class="card">
    <h5 class="card-header">Serviços Diários</h5>
    <div class="card-body">
      <canvas id="speedChart" width="400" height="100">
          <script>
            var speedCanvas = document.getElementById("speedChart");
            var speedCanvas = document.getElementById("speedChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            var speedData = {
              labels: [
              {% for diario in diarioServicos %} '{{ diario.data_finalizacao }}', {% endfor %}
            ],
              datasets: [{
                label: "Serviços (dia)",
                data: [
                {% for diario in diarioServicos %} '{{ diario.number}}', {% endfor %}
              ],
                lineTension: 0,
                fill: false,
                borderColor: 'blue',
                backgroundColor: 'transparent',
                borderDash: [3, 3],
                pointBorderColor: 'blue',
                pointBackgroundColor: 'blue',
                pointRadius: 5,
                pointHoverRadius: 10,
                pointHitRadius: 30,
                pointBorderWidth: 2,
                pointStyle: 'rectRounded'
              }]
            };
            var chartOptions = {
              legend: {
                display: true,
                position: 'top',
                labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                }
              }
            };
            var lineChart = new Chart(speedCanvas, {
              type: 'line',
              data: speedData,
              options: chartOptions
            });
        </script>
      </canvas> 
    </div>
  </div>
</div>
<!-- FIM Gráfico com o serviços diários  -->

<!-- FIM do Container-->
</div>
{% endblock %}