{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Serviços em agendados</title>{% endblock %}

{% block main %}
<body style="background-color: lightgrey;">

</body>
<div class="container">
  <h5 class="mt-3 mb-3"><span class="badge badge-warning badge-pill">{{quant_agendados}} </span> Serviços Agendados</h5>

  {% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
          {{ message }}
      </div>
  {% endfor %}
{% endif %}


<!-- INÍCIO  Campo de Pesquisas-->
<div class="card">
  <form method="GET">
    <div class="card-body">
    
      <div class="row">
        <div class="form-group col-8">
          <label for="inputCity">Nome do cliente</label>
          <input type="search" class="form-control" placeholder="Informe o nome do cliente" name="q" value="{{ request.GET.q }}">
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">Escolha uma data</label>
          <input type="date" class="form-control" name="date" value="{{ request.GET.date }}">
        </div>
      </div>
  
      <button class=" form-control btn-success">
        <i class="fas fa-search"></i>
        Pesquisar
      </button>
  
    </div>
  </form>
</div>

<!-- FIM Campo de Pesquisas-->




  <!-- INÍCIO  Campo de Pesquisas
	<div class="mt-3">
		<form method="GET">
		   <div class="row">
			   <div class="form-group col-10">
				   <input type="search" class="form-control"
						  placeholder="Informe o nome do cliente"
						  name="q" value="{{ request.GET.q }}">
			   </div>

                <div class="form-group col-md-3">
                     <label for="inputCity">Escolha uma data</label>
                     <input type="date" class="form-control" name="startdate" value="{{ request.GET.startdate }}">
                </div>

               <button class=" form-control btn-success">
					   <i class="fas fa-search"></i>
					   Pesquisar
				   </button>
		   </div>
	   </form>
	</div>
	 FIM Campo de Pesquisas-->
  <hr>
  <hr>






{% for agendado in agendados %}
  <div class="card mt-2 mb-2 shadow border-warning">
    <div class="card-header ">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body shadow-sm">
                <strong>Data agendada: </strong>  {{ agendado.data_agendada | date:'d/m/Y' }} ás {{agendado.hora_agendada}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body shadow-sm">
                <strong>Setor:</strong> {{ agendado.categoria}}
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card-body">
      <h6 class="card-title"><strong>Cliente: </strong> {{ agendado.contato_servico}}</h6>
      <h6 class="card-title"><strong>O que: </strong> {{ agendado.servico_para_executar}}</h6>
      <p class="card-text"><strong>Onde: </strong>{{ agendado.endereco_servico}}</p>
      <div align="right">
        <tr>

          {% if request.user.groups.all.0.name == "Adm" or request.user.groups.all.0.name == "Master" %}

          <!--
          <td>
              <a href="/servicos/editar-servico-agendado/{{ agendado.id }}" class="btn btn-info">Definir Técnico</a>
          </td>
          -->

          <td>
            <a href="/servicos/editar-servico-agendado/{{ agendado.id }}" class="btn btn-warning">Editar</a>
            <a href="/servicos/remover-servico/{{ agendado.id }}" class="btn btn-danger">Excluir</a>
          </td>


          {% endif %}

          <td>
              <a href="/servicos/finalizar-servico/{{ agendado.id }}" class="btn btn-success">Finalizar</a>
          </td>
      </tr>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}

