{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}.:: Serviços em agendados{% endblock %}

{% block main %}


<div class="container">
  <h1 class="mt-4 mb-3 texto-cor-1"><span class="badge badge-warning badge-pill">
    {{quant_agendados}} </span> Serviços Agendados
    <hr class="line-solid">
  </h1>

  {% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
          {{ message }}
      </div>
  {% endfor %}
{% endif %}


<!-- INÍCIO  Campo de Pesquisas-->
<div class="card texto-cor-2 fundo-card">
  <form method="GET">
    <div class="card-body">
    
      <div class="row">
        <div class="form-group col-md-8">
          <label for="inputCity">Nome do cliente</label>
          <input type="search" class="form-control" placeholder="Informe o nome do cliente" name="q" value="{{ request.GET.q }}">
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">Escolha uma data</label>
          <input type="date" class="form-control" name="date" value="{{ request.GET.date }}">
        </div>
      </div>
  
      <div align="right">
					<button type="submit" class="btn btn-success">Executar Pesquisa</button>
				</div>
  
    </div>
  </form>
</div>

<!-- FIM Campo de Pesquisas-->

  <!--
  <div align="right">
      <a href="{% url 'servicos-de-retiradas' %}" class="btn btn-info">Exportar</a>
  </div>
-->
<!--FIM Campo de Pesquisas-->
<style>
.card-servico {
    color: white;
    display: flex;
    padding-right: 30px;
    
  }

.card-servico-titulo {
    padding-right: 10px;
    font-size: 18px;
  }

.card-servico-descricao {
    padding-right: 10px;
  }


</style>


{% for agendado in agendados %}
  <div class="card  p-2 mt-2 mb-2 fundo-card texto-cor-2">

  <div class="card border-0 fundo-card">
    <div class="card-body">

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Nome do cliente:  </div>
        <p class="card-text">{{ agendado.contato_servico }}</p>
      </div>


      <div class="card-servico">
        <div class="card-title card-servico-titulo">Data:</div>
        <p class="card-text">{{ agendado.data_agendada | date:'d/m/Y' }} ás {{agendado.hora_agendada}}</p>
      </div>

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Categoria:</div>
        <p class="card-text">{{ agendado.categoria }} </p>
      </div>

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Serviço:</div>
        <p class="card-text">{{ agendado.servico_para_executar }}</p>
      </div>

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Endereço:</div>
        <p class="card-text">{{ agendado.endereco_servico }}</p>
      </div>

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Plano:</div>
        <p class="card-text">{{ agendado.plano_internet }}</p>
      </div>

      <div class="card-servico">
        <div class="card-title card-servico-titulo">Obs.:</div>
        <p class="card-text">{{ agendado.observacao }}</p>
      </div>


      <div>
        <a href="/servicos/editar-servico-agendado/{{ agendado.id }}" class="btn btn-warning">Editar</a>
        <a href="/servicos/remover-servico/{{ agendado.id }}" class="btn btn-danger">Excluir</a>
        <a href="/servicos/finalizar-servico/{{ agendado.id }}" class="btn btn-success">Finalizar</a>
      </div>

    </div>
  </div>

  </div>

{% empty %}
  <div class="texto-cor-2">
    <h2>No momento, não há serviços agendados!</h2>
  <div>
{% endfor %}




</div>
{% endblock %}

