{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Serviços VOIP</title>{% endblock %}

{% block main %}
<div class="container">

   <!-- Messagens -->
   {% if messages %}
   {% for message in messages %}
       <div class="alert {{ message.tags }}" role="alert">
           {{ message }}
       </div>
   {% endfor %}
 {% endif %}
 <!--Fim das mensagens-->
  <!--
      ****************************************************************************
      ************************INÍCIO VOIP DISPONÍVEIS*****************************
      ****************************************************************************
  -->

 <div class="card">
    <h5 class="card-header">VOIP Disponíveis</h5>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Usuário</th>
              <th scope="col">Senha</th>
              <th scope="col">Nº Telefone</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
          {% for voipDisponivel in voipDisponivel %}
            <tr>
              <td>{{ voipDisponivel.usuario_voip }}</td>
              <td>{{ voipDisponivel.senha_voip }}</td>
              <td>{{ voipDisponivel.numero_telefone_voip }}</td>
              <td>
                <a href="/servicos/reservar-voip/{{ voipDisponivel.id }}">Reservar número</a>
              </td>
            </tr>
          {% endfor %}
  
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
  <!--
      ****************************************************************************
      ************************INÍCIO VOIP DISPONÍVEIS*****************************
      ****************************************************************************
  -->



  <!--
      ****************************************************************************
      ************************INÍCIO VOIP RESERVADOS*******************************
      ****************************************************************************
  -->
    <div class="card">
      <h5 class="card-header">Reservados</h5>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Usuário</th>
              <th scope="col">Senha</th>
              <th scope="col">Nº Telefone</th>
            </tr>
          </thead>
          <tbody>
          {% for voipReservado in voipReservado %}
            <tr>
              <td>{{ voipReservado.nome_usuario_voip }}</td>
              <td>{{ voipReservado.usuario_voip }}</td>
              <td>{{ voipReservado.senha_voip }}</td>
              <td>{{ voipReservado.numero_telefone_voip }}</td>
            </tr>
          {% endfor %}
  
          </tbody>
        </table>
      </div>
      </div>
    </div>
  <!--
      ****************************************************************************
      ************************FIM VOIP RESERVADOS*******************************
      ****************************************************************************
  -->
</div>
{% endblock %}