{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}.:: Editar CTO {% endblock %}

{% block main %}
     <div class="container">

         <div>
            <h1 class="mt-2 texto-cor-2">Editar CTO</h1>
         </div>

        <!-- Messagens -->
      {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
              {{ message }}
          </div>
        {% endfor %}
        {% endif %}


         <form action="" method="post"> {% csrf_token %}
            <div class="mt-10">
                {{ form | crispy }}
            </div>
				<input type="submit" class="btn btn-block btn-primary" value="Atualizar Informações">
		 </form>
     </div>
{% endblock %}