{% extends 'base.html' %}
{% load static %}

{% block title %}.:: Terminais Ópticos {% endblock %}

{% block main %}
<div class="container-xl">

	<div class="mt-4">
		<h2 class="texto-cor-2">
			Dashboard <a class="anchor" id="content"></a>
			<hr class="line-solid">
		</h2>
	</div>

	<!-- =========================================================================================================== -->
    <!-- INÍCIO Messagens -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  <!-- FIM Messagens -->   

<!-- =========================================================================================================== -->

	<!-- =========================================================================================================== -->
	
	<!-- =========================================================================================================== -->
	<div class="row mt-4">
		<div class="col-sm-6">
		  <div class="card shadow">
			<!-- ---------------------------------------------------------------------------------   -->
				<!-- Inicio dos quatros cards das informações -->
				<div class="ui two stackable cards ">

					<!-- As Primarias-->
					<div class="card ui green">
						<div class="content">
						<div class="header">Primárias</div>
						<div class="description">
							Localização das Primárias.
						</div>
						<div align="center">
							<h1>( {{ quant_caixas_primarias }} )</h1>
						</div>
						</div>
						<a href="/cto/primarias/" class="header">
							<div class="ui bottom attached button">
							<i class="hand point right icon"></i>
							Primárias
							</div>
						</a>
					
					</div>

					<!-- Caixas de emendas-->
					<div class="card fundo-card">
						<div class="content">
						<div class="header">Caixas de Emendas</div>
						<div class="description ui grey">
							Localização das caixas de emenda.
						</div>
						<div align="center">
							<h1>( {{ quant_caixas_emenda }} )</h1>
						</div>
						</div>
						<a href="/cto/caixas-emenda/" class="header">
							<div class="ui bottom attached button">
							<i class="hand point right icon"></i>
							Caixas Primárias
							</div>
						</a>
					</div>

					<!-- Caixas Cheias-->
					<div class="card ui red">
						<div class="content">
						<div class="header">Caixas cheias</div>
						<div class="description">
							Lista das caixas que já estão cheias.
						</div>
						<div align = "center">
							<h1>( {{ quant_cto_completas }} )</h1>
						</div>
						</div>
						<a href="/cto/cto-completas/" class="header">
							<div class="ui bottom attached button">
							<i class="hand point right icon"></i>
							Caixas Cheias
							</div>
						</a>
					</div>

					<!-- Total de caixas cadastradas-->
					<div class="card ui blue">
						<div class="content">
						<div class="header">Caixas Cadastradas</div>
						<div class="description">
							Lista das caixas cadastradas.
						</div>
						<div align="center">
							<h1>( {{ quant_cto_cadastradas }} )</h1>
						</div>
						</div>
						<a href="#" class="header">
							<div class="ui bottom attached button">
							<i class="hand point right icon"></i>
							Total
							</div>
						</a>
					</div>
				</div>
				<!-- ---------------------------------------------------------------------------------   -->
				<!-- Fim dos quatros cards das informações -->
		  </div>
		</div>

		<div class="col-sm-6">
		  <div class="card shadow">
			<div class="card-body">
			  
				<!-- INICIO - Gráfico com o motivos de serviços -->
				<canvas id="myChart" width="400" height="225">
					<script>
					const ctx = document.getElementById('myChart').getContext('2d');
					const myChart = new Chart(ctx, {
						type: 'doughnut',
						data: {
							labels: ['Ayrosa', 'Remédios', 'Belaura', 'Mutinga', 'Jaguara', 'Rochdale','Marisa'  ],
							datasets: [{
								label: '{{ count_cancelamentos}} Serciços',
								data: [
									'{{ quant_cto_ayrosa }}', '{{quant_cto_vl_remedios}}', '{{ quant_cto_jd_belaura }}',
									'{{ quant_cto_jd_mutinga }}', '{{ quant_cto_jaguara }}', '{{ quant_cto_jd_rochdale}}',
								 	'{{ quant_cto_jd_marisa }}'
								],
								backgroundColor: [
									'rgba(255, 99, 132, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(255, 206, 86, 0.2)',
									'rgba(75, 192, 192, 0.2)',
									'rgba(153, 102, 255, 0.2)',
									'rgba(255, 159, 64, 0.2)'
								],
								borderColor: [
									'rgba(255, 99, 132, 1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
								],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					});
					</script>
				</canvas>
				
				<!-- INICIO - Gráfico com o motivos de serviços -->

			</div>
		  </div>
		</div>
	  </div>

	<!-- =========================================================================================================== -->
	<!-- =========================================================================================================== -->



	<!-- =========================================================================================================== -->
	<!--INÍCIO botões-->
	<div class="mt-4" align="right">
		<a href="adicionar-cto/" class="btn btn-primary">Adicionar CTO</a>
		<a href="exportar-csv-cto/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
	</div>
	<!--FIM botões -->
	<!-- =========================================================================================================== -->

	<h2 class="texto-cor-2">
		Caixas de Terminais Ópticos ({{ quant_cto_filtradas }})	
	</h2>

	<!-- =========================================================================================================== -->
	<!-- INÍCIO  Campo de Pesquisas-->
	<div class="card p-2 fundo-card ">
		<form method="GET" class="texto-cor-1">
		   <div class="row">
			<div class="form-group col-8">
				<label>Pesquisa:</label>
				<input type="search" class="form-control"  placeholder="Informe o código da caixa ou o nome da rua"
					   name="q" value="{{ request.GET.q }}">
			</div>

			<div class="form-group col-2">
				<label>Borda:</label>
				<input type="search" class="form-control"  placeholder="Borda"
					   name="board" value="{{ request.GET.board }}">
			</div>

			<div class="form-group col-2">
				<label>Pon:</label>
				<input type="search" class="form-control"  placeholder="PON"
					   name="pon" value="{{ request.GET.pon }}">
			</div>
		   </div>

		   <div align="right">
				<button type="submit" class="btn btn-success">Executar Pesquisa</button>
			</div>
	   </form>
	   
	</div>
	<!-- FIM Campo de Pesquisas-->
	<!-- =========================================================================================================== -->

	<!-- =========================================================================================================== -->
	<!--INÍCIO da Tabela de Terminais Ópticos -->
	
	<div class="shadow  mt-3 mb-4 table-responsive-sm p-2">
		<table class="table"> 
			<thead class="fundo-card texto-cor-2 thead-01">
			  <tr>
				<th scope="col">Rua</th>
				<th scope="col">Nº</th>
				<th scope="col">Bairro</th>
				<th scope="col">Código</th>
				<th scope="col">Board</th>
				<th scope="col">PON</th>
				<th scope="col">Total</th>
				<th scope="col">Usada</th>
				<th scope="col">Livre</th>
				<th scope="col">Opções</th>
			  </tr>
			</thead>
			<tbody>
				{% for cto in ctos %}
				<tr {% if cto.livre == 0 %}
				 		style="color:red; background-color: #141414;"
					{% else %} 
						style="color: #A9A9A9; background-color: #141414;"
					{% endif %}
				>
					<td>{{cto.rua_cto}}</td>
					<td>{{cto.numero_rua_cto}} </td>
					<td>{{cto.bairro_cto}}</td>
					<td>{% if cto.codigo_cto is null %} <p style="color:red; background-color: gold;" align="center">Código</p> {% else %} {{cto.codigo_cto}} {% endif %}</td>
					<td>{{cto.board_cto}}</td>
					<td>{{cto.pon_cto}}</td>
					<td> {{cto.conexoes_opticas_cto}}</td>
					<td>{{cto.quant_conexoes_usadas_cto}}</td>
					<td>{{cto.livre}}</td>
					<td>
						<a href="editar-terminais-opticos/{{ cto.id }}" style="color:gold;" ><i class="fas fa-edit"></i></a>
					</td>
				</tr>						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!--FIM da Tabela de Terminais Ópticos -->
	<!-- =========================================================================================================== -->

	<div class="texto-cor-2">	
		<ul class="pagination">
			<li class="page-item">
				{% if ctos.has_previous %}
					<a class="page-link"  href="?page=1">&laquo; Primeira</a>
				{% endif %}
			</li>
			<li class="page-item">
				{% if ctos.has_previous %}
					<a class="page-link" href="?page={{ ctos.previous_page_number }}">Anterior</a>
				{% endif %}
			</li>

				<li class="page-item active">
					<a class="page-link">Página {{ ctos.number }} de {{ ctos.paginator.num_pages }}</a>
				</li>

			<li class="page-item">
				{% if ctos.has_next %}
					<a class="page-link" href="?page={{ ctos.next_page_number }}">Próximo</a>
				{% endif %}
			</li>
			<li class="page-item">
				{% if ctos.has_next %}
					<a class="page-link" href="?page={{ ctos.paginator.num_pages }}">Última &raquo;</a>
				{% endif %}
			</li>
		</ul>
	</div>




</div>
{% endblock %}