{% extends "base.html" %}
{% load static %}

{% block title %}<title>Primárias</title>{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block main %}
<div class="container">


	<!-- INÍCIO  Campo de Pesquisas-->
	<div class="mt-3">
		<form method="GET">
		   <div class="row">
			   <div class="form-group col-10">
				   <input type="search" class="form-control"
						  placeholder="Informe a rua da primária"
						  name="q" value="{{ request.GET.q }}">
			   </div>
			   <div class="form-group col-2">
				   <button class=" form-control btn-success">
					   Pesquisar
					   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						 <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
						 <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
					   </svg>
				   </button>
			   </div>
		   </div>
	   </form>
	</div>
	<!-- FIM Campo de Pesquisas-->

	<!--INÍCIO titulo da página -->
	<div class="mt-4">
		<hr><hr>
		<h5>Lista das Primárias</h5>
	</div>
	<!--INÍCIO titulo da página -->



	<!--INÍCIO Tabela das primárias -->
	<div class="table-responsive-sm shadow">
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">ID</th>
				<th scope="col">Borda</th>
				<th scope="col">Pon</th>
				<th scope="col">Localização</th>
				<th scope="col">Quant_caixas</th>
				<th scope="col">Detalhes</th>
			  </tr>
			</thead>
			<tbody>
  
			{% for primaria in primarias %}
			  <tr>
				<th scope="row">{{ primaria.id}}</th>
				<td>{{ primaria.board}}</td>
				<td>{{ primaria.pon}}</td>
				<td>{{ primaria.localizacao}}</td>
				<td>{{ primaria.quant_caixas}}</td>
				<td>
					<a href="/cto/caixas-primarias/?id={{ primaria.id }}">Visualizar</a>
				</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
	</div>
	<!--FIM Tabela das primárias -->

	

		
	</div>





</div>
{% endblock %}

