{% extends "base.html" %}
{% load static %}

{% block title %}.:: Primárias {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block main %}
<div class="container">
	<!--INÍCIO Botões da pagina -->
	<div class="mt-2" align="right">
		<a href="/cto/adicionar-primaria/" class="btn btn-primary">Adicionar Primária</a>
	</div>	
	<!--FIM Botões da pagina -->
	<hr><hr>
	<!-- INÍCIO  Campo de Pesquisas-->
	<div class="mt-3">
		<form method="GET">
		   <div class="row">
			   <div class="form-group col-10">
				   <input type="search" class="form-control"
						  placeholder="Informe a pon"
						  name="q" value="{{ request.GET.q }}">
			   </div>
			   <div class="form-group col-2">
				   <button class=" form-control btn-success">
					<i class="fas fa-search"></i>
					Pesquisar
				   </button>
			   </div>
		   </div>
	   </form>
	</div>
	<!-- FIM Campo de Pesquisas-->

	
	<hr><hr>
	<!--INÍCIO titulo da página -->
	<div class="mt-4">
		<h1 class="texto-cor-1">Lista das Primárias</h1>
	</div>
	<!--INÍCIO titulo da página -->

	<!--INÍCIO Tabela das primárias -->
	<div class="table-responsive-sm shadow">
		<table class="table">
			<thead class="fundo-card texto-cor-2 thead-01">
			  <tr>
				<th scope="col">ID</th>
				<th scope="col">Borda</th>
				<th scope="col">Pon</th>
				<th scope="col">Localização</th>
				<th scope="col">Quant_caixas</th>
				<th scope="col">Detalhes</th>
			  </tr>
			</thead>
			<tbody>
  
			{% for primaria in primarias %}
			  <tr class="texto-tbody-tr">
				<th scope="row">{{ primaria.id}}</th>
				<td>{{ primaria.board}}</td>
				<td>{{ primaria.pon}}</td>
				<td>{{ primaria.localizacao}}</td>
				<td>{{ primaria.quant_caixas}}</td>
				<td>
					<a href="/cto/caixas-primarias/?id={{ primaria.id }}" class="btn-edit-01">Editar</a>
				</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
	</div>
	<!--FIM Tabela das primárias -->

	

		
	</div>





</div>
{% endblock %}

