{% extends "base.html" %}
{% load static %}

{% block title %}.:: Informações da Caixa de Emenda{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block main %}
<div class="container">

	<div class="mt-4 texto-cor-2">
		<h4>{{caixa.codigo_caixa}} - {{caixa.rua_caixa_emenda}}, {{caixa.numero_rua_cto}}</h4>
	</div>
	<hr>
	<hr>

	<div class="mt4 mb-4">
		<h1 class="texto-cor-2">Lista de PON´s</h1>
	</div>

	

	{% for pon in pons %}
		Borda: {{pon.board_pon}} Porta: {{pon.pon_pon}}<br>
	{% endfor %}



</div>
{% endblock %}

