{% extends 'base.html' %}

{% block main %}
  <div class="container">
    <!-- ********************************************************************************************** -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<!-- ********************************************************************************************** -->

  {% if request.user.groups.all.0.name == "Adm" or request.user.groups.all.0.name == "Master" %}
  <!--Inicio da página inicial para ADM e Master-->
  <!--
    --------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------
  -->
  <div class="row mt-2">
    <!--
      **************************************************************************
      INICIO DO CARD A ESQUERDA
      **************************************************************************
     -->
    <div class="card col-sm-8">
      <div class="card w-100">
        <div class="card-header bg-dark text-white">Status Serviços</div>
        <div class="card-body">
          <!--INICIO STATUS SERVIÇOS-->
          <div class="row">
            <div  class="col-sm-4 bg-danger text-white" align="center">
              <h5 class="card-title">Aguardando: ( <strong>{{ quant_servico_aberto }}</strong> ) 
                <a href="servicos/servicos-abertos/" class="btn btn-danger w-100">Ver todos</a>
              </h5>
            </div>
            <div class="col-sm-4 bg-warning text-white" align="center">
              <h5 class="card-title">Agendados: ( <strong>{{ quant_servico_agendado }}</strong> )
                <a href="servicos/servicos-agendados/" class="btn btn-warning text-white w-100">Ver todos</a>
              </h5>  
            </div>
            <div class="col-sm-4 bg-success text-white" align="center">
              <h5 class="card-title">
                Finalizados:

                <!--
                ( <strong>
                {{ quant_servico_finalizados }}
                </strong> )

-->
                
                

                ( <strong>
                  {% for mes in quant_servico_finalizados_mes %}
                    {{ mes.count }}
                  {% endfor %}
                </strong> )



                <a href="servicos/servicos-finalizados/" class="btn btn-success text-white w-100">Ver todos</a>

              </h5>
            </div>
          </div>
          <!--fIM STATUS SERVIÇOS-->
        </div>
      </div>
      
      <div class="card w-100">
        <div class="card-header bg-dark text-white">Status de Instalações</div>
        <div class="card-body">
          <!--INICIO STATUS INSTALAÇOES-->
          <div class="row">
            <div class="col-sm-3">
              <div class="card border-danger" align="center">
                <div class="card-group">
                    <h6>Aberto: ( <strong>{{ quant_instalacao_aberta }}</strong> )</h6>
                    <a href="vendas/instalacao-aberta/" class="btn btn-danger w-100">Ver todos</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card border-warning" align="center">
                <div class="card-group">
                    <h6>Agendado: ( <strong>{{ quant_instalacao_agendada }}</strong> )</h6>
                    <a href="vendas/instalacao-agendada/" class="btn btn-warning text-white w-100">Ver todos</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card border-dark" align="center">
                <div class="card-group">
                    <h6>Boletos: ( <strong>{{ quant_instalacao_sem_boleto }}</strong> )</h6>
                    <a href="vendas/instalacao-finalizada-sem-boleto/" class="btn btn-dark w-100">Ver todos </a>

                </div>
              </div> 
            </div>
            <div class="col-sm-3">
              <div class="card border-success" align="center">
                <div class="card-group">
                  <h6>Finalizados
                      ( <strong>
                        {{ quant_instalacao_concluida }}

                      </strong> )</h6>



                  <!--
                    <h6>Finalizados
                      ( <strong>
                        {% for mes in quant_instalacao_finalizados_mes %}
                          {{ mes.count }}
                        {% endfor %}

                      </strong> )</h6>
                    -->
                    <a href="vendas/instalacao-concluida/" class="btn btn-success w-100">Ver todos</a>
                </div>
              </div>
            </div>
          </div>
          <!--FIM STATUS INSTALAÇÕES-->
        </div>
      </div>


      <!--
        *************************************************************************************
        ***************** INÍCIO  dos serviços VOIP  *******************************
        *************************************************************************************
      -->
      <div class="card">
        <div class="card-header bg-dark text-white">Serviços VOIP</div>
        <div class="card-group">
          
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">VOIP Disponiveis ( {{ voipDisponiveis }} )</h5>
              <a href="/servicos/servicos-voip/" class="btn btn-primary stretched-link">Ver todos</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reservados ( {{ voipReservados }} )</h5>
              <a href="/servicos/servicos-voip-reservados/" class="btn btn-primary stretched-link">Ver todos</a>
             <!-- <a href="/servicos/servicos-voip-disponiveis/" class="btn btn-primary stretched-link">Ver todos</a> -->
            </div>
          </div>

        </div>
      </div>

        <!--
        *************************************************************************************
        *****************  FIM dos serviços VOIP  *******************************
        *************************************************************************************
      -->


      <!--
        *************************************************************************************
        ***************** INÍCIO Instalações agendadas por Técnico  *******************************
        *************************************************************************************
      -->
      <div class="card w-100">
        <div class="card-header bg-dark text-white">Instalações agendadas por Técnico</div>
        <div class="card-body">
          <!--SERVIÇOS POR CADA TÉCNICO-->
          <div class="card-group">
            <div class="card">
              <h5 class="card-title">Eduardo</h5>
              <div class="card-body">
                {% for instalacaoEduardo in instalacaoEduardo %}
                  {{ instalacaoEduardo.nome_cliente }}: <small> ({{ instalacaoEduardo.data_instalacao }} - {{ instalacaoEduardo.hora_instalacao }})</small><br>
                  <hr>
                {% endfor %}
              </div>
            </div>
            <div class="card">
              <h5 class="card-title">Diego</h5>
              <div class="card-body">
                {% for instalacaoDiego in instalacaoDiego %}
                  {{ instalacaoDiego.nome_cliente }}<br>
                  <hr>
                {% endfor %}           
              </div>
            </div>
            <div class="card">
              <h5 class="card-title">Paulo</h5>
              <div class="card-body">
                {% for instalacaoPaulo in instalacaoPaulo %}
                  {{ instalacaoPaulo.nome_cliente }}<br>
                  <hr>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- FIM SERVIÇOS POR TECNICO-->
        </div>
      </div>

           <!--
        *************************************************************************************
        *****************  FIM Instalações agendadas por Técnico  *******************************
        *************************************************************************************
      -->


            <!--
        *************************************************************************************
        ***************** INÍCIO SERVIÇOS POR TÉCNICO  *******************************
        *************************************************************************************
      -->


      <div class="card">
        <div class="card-header">
          Featured
        </div>



   
        {% regroup cities by country as funcionarioinstalacao %}

        <ul>
        {% for country in funcionarioinstalacao %}
            <li>{{ country.funcionario_instalacao }}
            <ul>
                {% for city in funcionarioinstalacao %}
                  <li>{{ city.name }}: {{ city.population }}</li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
        </ul>

        <!--
        <ul>
          {% for install in funcionarioinstalacao %}
              <li>{{ install.funcionario_instalacao }}
                {% if install.funcionario_instalacao == install.funcionario_instalacao %}
                  <ul>
                    {% for install in funcionarioinstalacao %}
                      <li>{{ install.nome_cliente }}: {{ city.population }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %}
          </ul>
        -->

             <!--
        {% regroup tecnico by instalacao as funcionarioinstalacao %}
        -->




      </div>

         <!--
        *************************************************************************************
        ***************** FIM SERVIÇOS POR TÉCNICO  *******************************
        *************************************************************************************
      -->



            <!--
        *************************************************************************************
        ***************** INÍCIO STATUS DE VENDAS  *******************************
        *************************************************************************************
      -->

      
      <!--

      <div class="card w-100">
        <div class="card-header bg-dark text-white">Status Vendas</div>
        <div class="card-body">
          
          <div class="card-group">
            <div class="card">
              <h5 class="card-title">Eduardo</h5>
              <div class="card-body">
                {% for vendasPorVendedor in vendasPorVendedor %}
                  {{ vendasPorVendedor.instalacao_criado_por }}: {{ vendasPorVendedor.number }}<br> 
                {% endfor %}
              </div>
            </div>
            <div class="card">
              <h5 class="card-title">Diego</h5>
              <div class="card-body">
                {% for instalacaoDiego in instalacaoDiego %}
                  {{ instalacaoDiego.nome_cliente }}<br>
                  <hr>
                {% endfor %}           
              </div>
            </div>
            <div class="card">
              <h5 class="card-title">Paulo</h5>
              <div class="card-body">
                {% for instalacaoPaulo in instalacaoPaulo %}
                  {{ instalacaoPaulo.nome_cliente }}<br>
                  <hr>
                {% endfor %}
              </div>
            </div>
          </div>
         
        </div>
      </div>


      -->

           <!--
        *************************************************************************************
        *****************  FIM STATUS DE VENDAS  *******************************
        *************************************************************************************
      -->



    </div>
    <!--
      **************************************************************************
      ESQUERDADO CARD A DIREITA
      **************************************************************************
     -->

    <!--
      **************************************************************************
      INICIO DO CARD A DIREITA
      **************************************************************************
     -->
    <div class="card col-sm-4">
      <div class="card w-100">
        <div class="card-header bg-dark text-white">Previsões de Serviços</div>
        <div class="card-body">

          <!--
          {% regroup cities by country as country_list %}

            <ul>
            {% for previsaoServico in previsaoServico %}
                <li>{{ previsaoServico.data_agendada}}
                <ul>
                    {% for previsaoServico in previsaoServico %}
                      <li>{{ previsaoServico.hora_agendada }}: {{ previsaoServico.number }}</li>
                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
          -->   





          
          


          {% for previsaoServico in previsaoServico %}
            {% if previsaoServico.number <= 4 %}
            <p style="color:green;"><strong>{{ previsaoServico.data_agendada  }}: {{ previsaoServico.number }}</strong></p>
            {% elif previsaoServico.number > 4 and previsaoServico.number <= 6  %}
            <p style="color:orange;"><strong>{{ previsaoServico.data_agendada  }}: {{ previsaoServico.number }}</strong></p>
            {% elif previsaoServico.number >= 7 %}
            <p style="color:red;"><strong>{{ previsaoServico.data_agendada  }}: {{ previsaoServico.number }}</strong></p>

            {% endif%} 
          {% endfor %}
         



          <!--
          {% for previsaoServico in previsaoServico %}

           <p style="color:red;">{{ previsaoServico.data_agendada }}: {{ previsaoServico.number }}</p>  
           
          {% endfor %}
          -->


        </div>
      </div>
      
      <div class="card w-100">
        <div class="card-header bg-dark text-white">Previsões de Instalações</div>
        <div class="card-body">
          {% for previsaoInstalacao in previsaoInstalacao%}
            {% if previsaoInstalacao.number <= 6 %}
            <p style="color:green;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>
            {% elif previsaoInstalacao.number > 6 and previsaoInstalacao.number <= 9  %}
            <p style="color:orange;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>
            {% elif previsaoInstalacao.number >= 10  %}
            <p style="color:red;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>

            {% endif %} 
          {% endfor %}
        </div>
      </div>

      </div>
    <!--
      **************************************************************************
      FIM DO CARD A DIREITA
      **************************************************************************
     -->
  </div>
  <!--
    --------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------
  -->

 

  {% elif request.user.groups.all.0.name == "Tecnico" %}
  <div class="card-deck">
    <div class="card text-white bg-dark mb-3"">
      <div class="card-header">SERVIÇOS</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="servicos/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3"">
      <div class="card-header">INSTALAÇÃO</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="vendas/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>
  </div>
  {% elif request.user.groups.all.0.name == "Venda" %}
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">INSTALAÇÃO</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="vendas/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>

    <div class="card text-dark  mb-3">
      <div class="card-header">Previsão de Instalação</div>
      <div class="card-body">
        {% for previsaoInstalacao in previsaoInstalacao%}
            {% if previsaoInstalacao.number <= 6 %}
            <p style="color:green;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>
            {% elif previsaoInstalacao.number > 6 and previsaoInstalacao.number <= 9  %}
            <p style="color:orange;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>
            {% elif previsaoInstalacao.number >= 10  %}
            <p style="color:red;"><strong>{{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}</strong></p>

            {% endif %} 
          {% endfor %}
      </div>
    </div>



  </div>


   










         
    {% endif %}
    

<!--
--------------------------------------------------------------------------------------------------------------    
    INFORMAÇÕES DOS SERVIÇOS DIÁRIOS
--------------------------------------------------------------------------------------------------------------  
  -->  
  <!--
  <div class="card">
    <div class="card-body">
      {% for servicosDiarios in servicosDiarios %}
        {{ servicosDiarios.data_finalizacao | date:'d-m-Y' }}: {{ servicosDiarios.number }}<br>

      {% endfor %}
      <hr>
      {{ servicosMensais.month }}: {{ servicosMensais.count }}<br>
    </div>
  </div>
-->
    </div>
    </div>
  </div>
{% endblock %}