{% extends 'base.html' %}

{% block main %}
  <div class="container">
    <!-- ********************************************************************************************** -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<!-- ********************************************************************************************** -->

  {% if request.user.groups.all.0.name == "Adm" or request.user.groups.all.0.name == "Master" %}
  <!--Inicio da página inicial para ADM e Master-->
  <div class="row mt-2">
    <!--Inicio quadro principal a esquerda-->
    <div class="card col-sm-8">
      <!--Inicio Card dos status de serviços-->
      <div class="card-header bg-dark text-white">Status Serviços</div>
      <div class="card-body">
        <div class="row">
          <div  class="col-sm-4 bg-danger text-white" align="center">
            <h5 class="card-title">Aguardando: ( <strong>{{ quant_servico_aberto }}</strong> ) 
              <a href="servicos/servicos-abertos/" class="btn btn-danger w-100">Ver todos</a>
            </h5>
          </div>
          <div class="col-sm-4 bg-warning text-white" align="center">
            <h5 class="card-title">Agendados: ( <strong>{{ quant_servico_agendado }}</strong> )
              <a href="servicos/servicos-agendados/" class="btn btn-warning text-white w-100">Ver todos</a>
            </h5>  
          </div>
          <div class="col-sm-4 bg-success text-white" align="center">
            <h5 class="card-title">Finalizados: ( <strong>{{ quant_servico_agendado }}</strong> )
              <a href="servicos/servicos-finalizados/" class="btn btn-success text-white w-100">Ver todos</a>
            </h5> 
          </div>
        </div>
      </div>
      <!--Fim Card dos status de serviços-->
      <!--Inicio Card dos status de Instalações-->
      <div class="card-header bg-dark text-white">Status de Instalações</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="card border-danger" align="center">
              <div class="card-group">
                  <h6>Aberto: ( <strong>{{ quant_instalacao_aberta }}</strong> )</h6>
                  <a href="vendas/instalacao-aberta/" class="btn btn-danger w-100">Ver todos</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-warning" align="center">
              <div class="card-group">
                  <h6>Agendado: ( <strong>{{ quant_instalacao_agendada }}</strong> )</h6>
                  <a href="vendas/instalacao-agendada/" class="btn btn-warning text-white w-100">Ver todos</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-dark" align="center">
              <div class="card-group">
                  <h6>Boletos: ( <strong>{{ quant_instalacao_sem_boleto }}</strong> )</h6>
                  <a href="vendas/instalacao-finalizada-sem-boleto/" class="btn btn-dark w-100">Ver todos</a>                 
              </div>
            </div> 
          </div>
          <div class="col-sm-3">
            <div class="card border-success" align="center">
              <div class="card-group">
                  <h6>Finalizados: ( <strong>{{ quant_instalacao_concluida }}</strong> )</h6>
                  <a href="vendas/instalacao-concluida/" class="btn btn-success w-100">Ver todos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Fim Card dos status de Instalaçoes-->

       <!--INICIO SERVIÇOS POR TÉCNICO-->

  <div class="row mt-2">
    <!--Inicio quadro principal a esquerda-->
    <div class="card w-100">
      <div class="card-header bg-dark text-white">Instalações agendadas por Técnico</div>

      <div class="card-group">
        <div class="card">
          <h5 class="card-title">Eduardo</h5>
          <div class="card-body">
            {% for instalacaoEduardo in instalacaoEduardo %}
              {{ instalacaoEduardo.nome_cliente }}: <small> ({{ instalacaoEduardo.data_instalacao }} - {{ instalacaoEduardo.hora_instalacao }})</small><br>
              <hr>
            {% endfor %}
          </div>
        </div>
        <div class="card">
          <h5 class="card-title">Diego</h5>
          <div class="card-body">
            {% for instalacaoDiego in instalacaoDiego %}
              {{ instalacaoDiego.nome_cliente }}<br>
              <hr>
            {% endfor %}           
          </div>
        </div>
        <div class="card">
          <h5 class="card-title">Paulo</h5>
          <div class="card-body">
            {% for instalacaoPaulo in instalacaoPaulo %}
              {{ instalacaoPaulo.nome_cliente }}<br>
              <hr>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--FIM SERVIÇOS POR TÉCNICO-->








    </div>
    <!--Fim quadro principal a esquerda-->
    <!--Inicio quadro principal a direita-->
    <div class="card col-sm-4">
      <!-- Inicio Card para previsões de serviços-->
      <div class="card-header bg-dark text-white">Previsões de Serviços</div>
      <div class="card-body">
        
        <div>
          {% for previsaoServico in previsaoServico%}
            {{ previsaoServico.data_agendada }}: {{ previsaoServico.number }}<br>
          {% endfor %}
        </div>

      </div>
      <!-- Fim Card para previsões de serviços-->
      <!-- Inicio Card para previsões de Instalações-->
      <div class="card-header bg-dark text-white">Previsões de Instalações</div>
      <div class="card-body">

        <div>
          {% for previsaoInstalacao in previsaoInstalacao%}
            {{ previsaoInstalacao.data_instalacao }}: {{ previsaoInstalacao.number }}<br>
          {% endfor %}
        </div>

      </div>
      <!-- Fim Card para previsões de Instalações-->
    </div>
  </div>
<!--Fim quadro principal a direita-->

 

  {% elif request.user.groups.all.0.name == "Tecnico" %}
  <div class="card-deck">
    <div class="card text-white bg-dark mb-3"">
      <div class="card-header">SERVIÇOS</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="servicos/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3"">
      <div class="card-header">INSTALAÇÃO</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="vendas/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>
  </div>
  {% elif request.user.groups.all.0.name == "Venda" %}
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">INSTALAÇÃO</div>
      <div class="card-body">
        <h5 class="card-title">Clique abaixo</h5>
        <a href="vendas/" class="btn btn-danger">Ver todos</a>
      </div>
    </div>
  </div>
         
    {% endif %}

<!--
--------------------------------------------------------------------------------------------------------------    
    INFORMAÇÕES DOS SERVIÇOS DIÁRIOS
--------------------------------------------------------------------------------------------------------------  
  -->  
  <!--
  <div class="card">
    <div class="card-body">
      {% for servicosDiarios in servicosDiarios %}
        {{ servicosDiarios.data_finalizacao | date:'d-m-Y' }}: {{ servicosDiarios.number }}<br>

      {% endfor %}
      <hr>
      {{ servicosMensais.month }}: {{ servicosMensais.count }}<br>
    </div>
  </div>
-->
    </div>
    </div>
  </div>
{% endblock %}