{% extends 'base.html' %}

{% block main %}
    <div class="container">
        Sistema de gerenciamento da Speed Network Telecom

        <h3 class="mt-4">Instalações</h3>
        <hr>
        <div>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Em aberto
                    </div>
                  <div class="card-body">
                    <h5 class="card-title">Pendentes: {{ pendentes }}</h5>
                    <div align="right">
                        <a href="/vendas/" class="btn btn-primary">Ver tudo</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Em Andamento
                    </div>
                  <div class="card-body">
                    <h5 class="card-title">Instalando: {{ instalando }}</h5>
                    <div align="right">
                        <a href="#" class="btn btn-primary">Ver tudo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Concluído
                    </div>
                  <div class="card-body">
                    <h5 class="card-title">Concluído: {{ instalando }}</h5>
                    <div align="right">
                        <a href="#" class="btn btn-primary">Ver tudo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

             <h3 class="mt-4"> Estoque</h3>
        <hr>
        <div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Pendentes: {{ pendentes }}</h5>
                    <h5 class="card-title">Instalando: {{ instalando }}</h5>
                    <a href="/vendas/" class="btn btn-primary">Ver todas</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
        </div>




    </div>
{% endblock %}