{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
  <div class="mt-4 mb-4">
    <h1 class="texto-cor-1">Manuais</h1>
  </div>

  <div class="table-responsive-sm mt-2">
    <table class="table table-sm">
      <thead class="fundo-card texto-cor-2 thead-01">
            <tr>
                <th>ID</th>
                 <th>Título</th>
                <th>Opções</th>
            </tr>
      </thead>
      <tbody>
            {% for manual in manuais %}
            <tr class="texto-tbody-tr">
                <td>{{ manual.id }}</td>
                <td>{{ manual.nome_manual }}</td>
                <td>
                    <a href="/manuais/manuais-visualizacao/?id={{ manual.id }}" class="btn btn-info">Visualizar</a>
                </td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>
        



        

      

</div>
{% endblock %}