{% extends 'base.html' %}
{% load static %}

{% block title %}.:: Senhas em cada Equipamento {% endblock %}

{% block main %}
<div class="container">

	<!-- INÍCIO dados dos modens -->
	{% if request.user.groups.all.0.name == "Master" %}
		<div class="card mt-4 mb-4 fundo-card fundo-card-border">

			<h1 class="texto-cor-1 p-2">Dashboard </h1>

			<div class="row texto-cor-2 p-2 ">

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div><small><strong>6T</strong></small> </div>
					<div><small>{{ quant_6t }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div><small><strong>V5</strong></small> </div>
					<div><small>{{ quant_v5 }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div class="mr-1"><small><strong>Q2</strong></small> </div>
					<div><small>{{ quant_v5 }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div class="mr-1"><small><strong>140</strong></small> </div>
					<div><small>{{ quant_nokia_140 }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div class="mr-1"><small><strong>Nokia 240:</strong></small> </div>
					<div><small>{{ quant_nokia_240 }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<small><strong>G-2425G-A:</strong></small> 
					<div><small>{{ quant_nokia_2425A }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<small><strong>G-1425G-A:</strong></small> 
					<div><small>{{ quant_nokia_1425A }}</small></div>
				</div>
			</div>

			<div class="col-sm" align="center">
				<div class="card fundo-pagina">
					<div class="mr-1"><small><strong>Total:</strong></small> </div>
						<div><small>{{ quant_modens }}</small></div>
					</div>
				</div>	
			</div>
					
		</div>
	{% endif %}
	<!-- FIM dados dos modens -->

	<!-- INÍCIO  Campo de Pesquisas-->
	<div class="card">
		<form method="GET" class="texto-cor-2 fundo-card fundo-card-border">
			<div class="row p-2">
				<div class="col-sm-4">
					<label>Patrímônio</label>
						<input type="search" class="form-control"  placeholder="Informe o Patrímônio"
							name="p" value="{{ request.GET.p }}">
					</div>
					<div class="col-sm">
						<label>Informe o código, S/N</label>
							<input type="search" class="form-control"  placeholder="Informe ou código S/N"
							name="q" value="{{ request.GET.q }}">
				</div>
			</div>
			<!-- Botão de pesquisar -->
			<div class="p-2" align="right">
				<button type="submit" class="btn btn-success">Executar Pesquisa</button>
			</div>			
		</form>
	</div>
	<!-- FIM Campo de Pesquisas-->

	<!-- INÍCIO das Mensagens -->
	{% if messages %}
		{% for message in messages %}
			<div class="alert {{ message.tags }}" role="alert">
				{{ message }}
			</div>
		{% endfor %}
    {% endif %}
	<!-- FIM das Mensagens -->
	<hr>
	<!-- INÍCIO Botões -->
	<div align="right">
		<a href="/cadastro-senhas-equipamentos/" class="btn btn-primary">Cadastrar Equipamento</a>
		{% if request.user.groups.all.0.name == "Master" %}
		<a href="/exportar-senhas-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
		{% endif %}
	</div>	
	<!-- FIM Botões -->
	
	<!-- INÍCIO Titulo da página -->
	<div class="mb-4">
		<h2 class="texto-cor-2">Senhas por equipamentos</h2>
		<hr class="line-solid">
	</div>
	<!-- Fim Titulo da página -->

	<!-- INÍCIO da tabela dos equipamento s-->
	{% for senha in senhasPorEquipamentos %}
	<div class="card fundo-card fundo-card-border texto-cor-2">
		<div class="card-header bg-transparent border-info">

			<div class="row">
				<div class="col-sm-3 row">
					<div class="mr-1"><small><strong>#ID:</strong></small></div>
					<div><small>{{ senha.id }}</small></div>
				</div>
				<div class="col-sm-3 row">
					<div class="mr-1"><small><strong>Código:</strong></small> </div>
					<div><small>{{ senha.codigo_equipamento }}</small></div>
				</div>
				<div class="col-sm-3 row">
					<div class="mr-1"><small><strong>Fabricante:</strong></small> </div>
					<div><small>{{ senha.fabricante }}</small></div>
				</div>
				<div class="col-sm-3 row">
					<div class="mr-1"><small><strong>Modelo:</strong></small> </div>
					<div><small>{{ senha.equipamento }}</small></div>
				</div>
			</div>
		</div>
		<div class="card-body text-info">
		  <div class="card-group row">
			<div class="col-sm-2 row">
				<div class="mr-1"><small><strong>Patrimônio:</strong></small> </div>
				<div><small>{{ senha.patrimonio_equipamento }}</small></div>
			</div>

			<div class="col-sm-3 row">
				<div class="mr-1"><small><strong>IP:</strong></small> </div>
				<div><small>{{ senha.ip_equipamento }}</small></div>
			</div>

			<div class="col-sm-3 row">
				<div class="mr-1"><small><strong>S/N:</strong></small> </div>
				<div><small>{{ senha.sn_equipamento }}</small></div>
			</div>

			<div class="col-sm-2 row">
				<div class="mr-1"><small><strong>Login:</strong></small> </div>
				<div><small>{{ senha.login }}</small></div>
			</div>

			<div class="col-sm-2 row">
				<div class="mr-1"><small><strong>Senha:</strong></small> </div>
				<div><small>{{ senha.senha }}</small></div>
			</div>

			<div class="col-sm-1 row" aligin="right">
				<a href="/editar-senhas-equipamentos/{{ senha.id }}" class="btn-edit-01">Editar</a>
			</div>
		  </div>
		</div>
	</div>
	<hr>
	{% empty %}

		<div class="mt-4">
			<h4>Sua pesquisa: {{ request.GET.q}} {{ request.GET.p}}</h4>
			<h6 style="color: red;">Não há resultados para essa pesquisa!!! </h6>
		</div>

	{% endfor %}
	<!-- FIM da tabela dos equipamentos -->

</div>


<p>Performace: {{ queries }} </P>
{% endblock %}