{% extends 'base.html' %}
{% load static %}

{% block title %}<title> Senhas em cada Equipamento</title> {% endblock %}

{% block main %}
    <div class="container">
        <div class="mt-2">


             <form method="GET">
			<div class="row">
				<div class="form-group col-10">
					<input type="search" class="form-control"
						   placeholder="Informe o código, S/N ou Patrímônio"
						   name="q" value="{{ request.GET.q }}">
				</div>
				<div class="form-group">
					<button class=" form-control btn-success">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
						  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
						</svg>
					</button>
				</div>
			</div>
		</form>

        </div>

    	<h5>Senhas por equipamentos</h5>

		{% for senha in senhasPorEquipamentos %}
		<div class="card mt-2">
			<div class="card-header"><strong>Código:</strong> {{ senha.codigo_equipamento }} - <strong>S/N:</strong> {{ senha.sn_equipamento }}</div>
			<div class="card-group">
				<div class="card border-0">
					<Small>Fabricante</Small>
					<strong>{{ senha.fabricante }}</strong>
				</div>
				<div class="card border-0">
					<small>Modelo</small>
					<strong>{{ senha.equipamento }}</strong>
				</div>
				<div class="card border-0">
					<small>IP</small>
					<strong>{{ senha.ip_equipamento }}</strong>
				</div>
				<div class="card border-0">
					<small>Login</small>
					<strong>{{ senha.login }}</strong>
				</div>
				<div class="card border-0">
					<small>Senha</small>
					<strong>{{ senha.senha }}</strong>
				</div>
				<div class="card border-0">
					<small>Patrimônio</small>
					<strong>{{ senha.patrimonio_equipamento }}</strong>
				</div>
			</div>
		</div>
		{% endfor %}
    </div>
{% endblock %}