{% extends 'base.html' %}
{% load static %}

{% block title %}<title> Senhas em cada Equipamento</title> {% endblock %}

{% block main %}
<div class="container">

	<!-- INÍCIO dados dos modens -->
	{% if request.user.groups.all.0.name == "Master" %}
	<div class="card shadow mt-3 border-0">
		<div class="row">

			<div class="col-sm-2">
			  <div class="card shadow-sm border-0">
				<div class="card-body">
				  <h6 class="card-title">6T = {{ quant_6t }}</h6>
				</div>
			  </div>
			</div>

			<div class="col-sm-2">
			  <div class="card shadow-sm border-0">
				<div class="card-body">
				  <h6 class="card-title">V5 = {{ quant_v5 }}</h6>
				</div>
			  </div>
			</div>

			<div class="col-sm-2">
				<div class="card shadow-sm border-0">
				  <div class="card-body">
					<h6 class="card-title">Q2 = {{ quant_q2 }}</h6>
				  </div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card shadow-sm border-0">
				  <div class="card-body">
					<h6 class="card-title">Nokia 140 = {{ quant_nokia_140 }}</h6>
				  </div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card shadow-sm border-0">
				  <div class="card-body">
					<h6 class="card-title">Nokia 240 = {{ quant_nokia_240 }}</h6>
				  </div>
				</div>
			</div>


			<div class="col-sm-2">
				<div class="card shadow-sm border-0">
				  <div class="card-body">
					<h6 class="card-title">Total = {{ quant_modens }}</h6>
				  </div>
				</div>
			  </div>
		  	</div>
	</div>
	<hr>
	{% endif %}
	<!-- FIM dados dos modens -->


	<!-- INÍCIO  Campo de Pesquisas-->
	<div class="mt-3">
		<form method="GET">
			<div class="row">
				<!-- Campo do formulário de pesquisa por patrimônio -->
				<div class="form-group col-4">
					<label>Patrímônio</label>
				  <input type="search" class="form-control"  placeholder="Informe o Patrímônio"
					  name="p" value="{{ request.GET.p }}">
				</div>
				<!-- Campo do formulário de pesquisa por código e S/N -->
				<div class="form-group col-8">
					<label>Informe o código, S/N</label>
					<input type="search" class="form-control"  placeholder="Informe ou código S/N"
						name="q" value="{{ request.GET.q }}">
				</div>
				<!-- Botão de pesquisar -->
				<div class="form-group col-12">
					<button class=" form-control btn-success">
					<i class="fas fa-search"></i>
					Pesquisar
					</button>
				</div>

			</div>
		</form>
	</div>
	<!-- FIM Campo de Pesquisas-->

	<!-- INÍCIO das Mensagens -->
	{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
	<!-- FIM das Mensagens -->
	<hr>
	<!-- INÍCIO Botões -->
	<div align="right">
		<a href="/cadastro-senhas-equipamentos/" class="btn btn-primary">Cadastrar Equipamento</a>
		{% if request.user.groups.all.0.name == "Master" %}
		<a href="/exportar-senhas-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
		{% endif %}
	</div>	
	<!-- FIM Botões -->
	<hr>
	<!-- INÍCIO Titulo da página -->
	<h5>Senhas por equipamentos</h5>
	<!-- Fim Titulo da página -->



	<!-- INÍCIO da tabela dos equipamento s-->
	{% for senha in senhasPorEquipamentos %}
	<div class="card border-info mb-3 shadow">
		<div class="card-header bg-transparent border-info">
			<div class="card-group row">
				<div class="card border-0">Fabricante: {{ senha.fabricante }}</div>
				<div class="card border-0">Modelo: {{ senha.equipamento }}</div>
			</div>
		</div>
		<div class="card-body text-info">
		  <div class="card-group row">

			<div class="col-sm-2">
				<div class="card border-0">
					<small>Patrimônio:</small>
					<strong>{{ senha.patrimonio_equipamento }}</strong>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card border-0">
					<small>IP:</small>
					<strong>{{ senha.ip_equipamento }}</strong>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card border-0">
					<small>Login:</small>
					<strong>{{ senha.login }}</strong>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card border-0">
					<small>Senha:</small>
					<strong>{{ senha.senha }}</strong>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card border-0">
					<a href="/editar-senhas-equipamentos/{{ senha.id }}" style="color: gold;"><i class="fas fa-edit"></i></a>
				</div>
			</div>



		  </div>
		</div>
	</div>
	<hr>
	{% empty %}

		<div class="mt-4">
			<h4>Sua pesquisa: {{ request.GET.q}} {{ request.GET.p}}</h4>
			<h6 style="color: red;">Não há resultados para essa pesquisa!!! </h6>
		</div>

	{% endfor %}
	<!-- FIM da tabela dos equipamentos -->














	<!-- INÍCIO da tabela dos equipamento s-->
	{% for senha in senhasPorEquipamentos %}
	<div class="card mt-2 shadow">
		<div class="card-header">
			<strong>ID:</strong>  {{ senha.id }}  -
			<strong>Código:</strong> {{ senha.codigo_equipamento }} - 
			<strong>S/N:</strong> {{ senha.sn_equipamento }}</div>
		<div class="card-group">
			<div class="card ml-2 border-0">
				<Small>Fabricante:</Small>
				<strong>{{ senha.fabricante }}</strong>
			</div>
			<div class="card border-0">
				<small>Modelo:</small>
				<strong>{{ senha.equipamento }}</strong>
			</div>
			<div class="card border-0">
				<small>IP:</small>
				<strong>{{ senha.ip_equipamento }}</strong>
			</div>
			<div class="card border-0">
				<small>Login:</small>
				<strong>{{ senha.login }}</strong>
			</div>
			<div class="card border-0">
				<small>Senha:</small>
				<strong>{{ senha.senha }}</strong>
			</div>
			<div class="card border-0">
				<small>Patrimônio:</small>
				<strong>{{ senha.patrimonio_equipamento }}</strong>
			</div>
			<div class="card border-0">
				<small></small>
				<a href="/editar-senhas-equipamentos/{{ senha.id }}"><i class="fas fa-edit"></i></a>
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- FIM da tabela dos equipamento s-->
</div>
{% endblock %}